<ion-view id="about" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <div class="about-title">
        <h1>О</h1>
        <h1>V-Малайзия 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">Следующие 120 минут, которые ты уделишь чтению, могут навсегда изменить твою жизнь. </p>
      <p>V-Малайзия 2017, которая состоится с 3 по 7 мая 2017 на стадионе SPICE Arena в Пенанге (Малайзия), соберёт под своей крышей тысячи нетворкеров со всего мира, неудержимых на пути к своему успеху. Если у тебя набралась целая куча вопросов и сомнений, то в программе конвенции запланированы выступления и презентации целого ряда спикеров мирового уровня, от которых ты можешь получить все необходимые ответы. </p>
      <p>На это ушло менее 2-х минут, верно? Теперь ты можешь посмотреть это видео, которое взбудоражит тебя ещё больше, да так, что тебе захочется оказаться на стадионе SPICE Arena сию же минуту. </p>
      <p>Хочешь купить билет на это невероятное событие? </p>
      <p class="txt20">ДЕЛАЙ ЭТО СЕЙЧАС.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Купить билет</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whatis-ru" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>    
    <a href="#/app/whydo-ru" nav-direction="forward">Почему Делать Это Сейчас?<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
