<ion-view id="about" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <div class="about-title">
        <h1>Tentang</h1>
        <h1>V-Malaysia 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">Dalam 120 detik ke depan anda akan membaca ini yang dapat merubah hidup anda selamanya.</p>
      <p>Diadakan dari 3 hingga 7 Mei 2017 di SPICE Arena, Penang, Malaysia, V-Malaysia 2017 akan mengumpulkan ribuan networker dari seluruh dunia yang tidak terbendung dalam mengejar kesukseannya. Jika anda memiliki banyak pertanyaan, aka nada beberapa pembicaraan dan presentasidari daftar pembicara kelas dunia yang dapat memberikan poin untuk jawaban yang anda cari.</p>
      <p>Hanya kurang dari 2 menit, ya kan? Sekarang anda dapat menyaksikan video ini agar anda lebih bersemangat – sekarang anda mungkin akan ingin langsung terbang ke SPICE Arena.</p>
      <p>Ingin beli tiket untuk ke acara yang menakjubkan ini? </p>
      <p class="txt20">LAKUKAN SEKARANG.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">beli tiket</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whatis-id" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>    
    <a href="#/app/whydo-id" nav-direction="forward">MENGAPA LAKUKAN SEKARANG<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
