<ion-view id="downloads" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <h1>ЭКСКЛЮЗИВ<br>ОБОИ V-МАЛАЙЗИЯ 2017</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Бери с собой магию V-Кон повсюду с помощью этих обоев для твоего мобильного устройства. БЕСПЛАТНО!</p>
      <div class="menus">
        <a href="" ng-click="download()"><i class="ion-android-arrow-down"></i> Загрузить для мобильного телефона</a>
        <a href="" ng-click="download2()"><i class="ion-android-arrow-down"></i> Загрузить для планшета</a>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/mark-ru" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/speakers-ru" nav-direction="forward">Узнать о спикерах<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
