<ion-view id="faq" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>Вопрос - ответ</h1>
    </header>
    <article class="cusContent">
      <!-- <p class="question">Как купить билет?</p>
      <p class="answer">Перейти по ссылке, чтобы купить билет на V-Малайзия 2017.</p>
      <a class="button buyticket orange" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Купить билет</a>

      <p class="question">Каковы условия платежа?</p>
      <p class="answer">В настоящее время оплата возможна наличными или кредитной картой (Visa и MasterCard).</p> -->

      <p class="question">Что взять с собой?</p>
      <p class="answer">
          Едешь на V-Кон? Список из 5 важных вещей, которые нужно иметь при себе: <br/><br/>
          1. Идя на регистрацию, нужно иметь при себе одно (1) удостоверение личности и копию письма с подтверждением, которое было отправлено на электронную почту после покупки билета. <br/><br/>
          2. Достаточная сумма денег на 5 дней, предназначенных для покупки еды, напитков, на транспортные расходы, на приобретение товаров V-Кон, сувениров и т.д. <br/><br/>
          3. Сменная одежда на 5 дней. Желательно иметь при себе запасную рубашку/футболку или полотенце. <br/><br/>
          4. Иметь при себе мобильный телефон для связи с командой, родными и близкими. Не забудь захватить портативное зарядное устройство, которое позволит тебе заряжать телефон и иные мобильные устройства когда это необходимо. <br/><br/>
          5. Обязательно захвати с собой фотоаппарат, который позволит тебе запечатлеть наиболее памятные моменты V-Кон, которые ты потом покажешь своим близким, а также проспектам по возвращению домой. 
      </p>
<!--       <p class="question">Продолжится ли продажа билетов в день открытия конвенции? </p>
      <p class="answer">Да. Билеты можно будет оплатить наличными или кредитной картой. </p> -->
      <p class="question">Доступен ли к покупке билет всего на один день участия?</p>
      <p class="answer">Нет. Эта 5-дневная программа подготовлена с расчётом на ежедневное посещение каждым из участников, чтобы получить, таким образом, полноценный и судьбоносный опыт. Это цельное и комплексное мероприятие с насыщенной программой станет невероятно полезным для твоего бизнеса.</p>  

      
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise-ru" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/contact-ru" nav-direction="forward">КОНТАКТЫ<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
