<ion-view id="faq" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>T & J</h1>
    </header>
    <article class="cusContent">
<!--       <p class="question">Bagaimana saya membeli tiket??</p>
      <p class="answer">Klik di sini untuk membeli tiket V-Malaysia 2017 anda.</p>
      <a class="button buyticket orange" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">beli tiket</a> -->

<!--       <p class="question">Jenis pembayaran apa yang berlaku?</p>
      <p class="answer">Sekarang, anda dapat membayar dengan tunai atau kartu kredit (Visa dan MasterCard).</p> -->

      <p class="question">Apa yang harus dibawa?</p>
      <p class="answer">
        Datang ke V-Con? Inilah 5 barang penting yang harus dibawa:
        <br/><br/>
        1. Selama registrasi, bawa satu (1) Tanda Pengenal dan salinan confirmation letter yang akan dikirimkan melalui email setelah anda membeli tiket. <br/><br/>
        2. Uang secukupnya untuk 5 hari, yang kemungkinan akan anda belanjakan untuk makanan, minuman, transportasi, cinderamata V-Con, souvenir, dll. <br/><br/>
        3. Pakaian untuk 5 hari. Pastikan membawa baju ekstra atau handuk. <br/><br/>
        4. Bawa telepon genggam selalu bersama anda untuk memastikan anda selalu dapat terhubung dengan tim anda dan orang yang anda sayangi. Jangan lupa membawa powerbank untuk memastikan anda dapat mengisi ulang telepon atau gadget lainya kapanpun. <br/><br/>
        5. Bawa kamera selalu bersama anda untuk memastikan pengalaman berharga V-Con anda selalu terkenang, dan memilki sesuatu yang dapat anda tunjukkan ke keluarga dan prospek masa depan setelah anda kembali ke rumah. 
      </p>
<!-- 
      <p class="question">Akankah ada tiket yang dapat dibeli langsung di hari acara tersebut?</p>
      <p class="answer">Iya. Anda hanya dapat membayarnya dengan tunai atau kartu kredit.</p> -->
      
      <p class="question">Akankah ada tiket per hari?</p>
      <p class="answer">Tidak. TProgram 5 hari yang kita siapkan untuk anda adalah hal yang harus dihadiri dari Hari ke 1 hingga Hari ke 5 untuk pengalaman perubahan hidup yang lengkap. Ini adalah acara holistic, menyeluruh dengan jadwal-acara-penuh-aksi aktifitas yang sangat esensial untuk bisnis anda.</p>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise-id" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/contact-id" nav-direction="forward">HUBUNGI KAMI<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
