
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Berkeliling di Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Pilihan transportasi di Penang adalah bus dan taksi. Mobil pribadi dan bus sewaan juga tersedia, akan lebih menguntungkan jika anda berpergian dengan tim anda. </p>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-id" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-id" nav-direction="forward">Cinderamata<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

