
<ion-view id="penang" class="ar" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>كيف يمكنك ان تتنقل في بينانج</h1>
    </header>
    <article class="cusContent">

      <p class="headline">وسائط النقل شائعه الاستخدام في بينانج الحافلات وسيارات الأجرة. السيارات والحافلات الخاصة للإيجار أيضا كثيرة، والتي قد تكون مفيدة إذا كنت مسافرا مع فريقك.

</p>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ar" class="back" nav-direction="back">بينانج 101<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ar" nav-direction="forward">المعروضات<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

