<ion-view id="mark" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1><span class="txt48">ضع علامتك للفي-كون</span></h1>
    </header>

    <article class="cusContent">
      <div class="step1" style="display: block">
      <p class="title">ضع علامتك للفي-كون</p>
      <p class="headline">علم على صورك بسحر الفي-كون مع هذه الشارات الحصرية لـ VCON17 # ! فقط اتبع هذه الخطوات الثلاث السهلة</p>
      <p dir="RTL" style="text-align: right" >1. حمل صورتك<br>
         2.  اختار الشارة<br>
         3.  اختار "علمها"<br>
         4.   قم بتنزيلها وشارك صورتك للفي-كون المعلم عليها حديثاً!</p>
        <a class="button btnClaim">حمل صورتك</a>
    </div>

    <div class="step2" style="display: block">
        <div class="photo"> <img src=""/> (photo here)</div>
        <p class="title">اختار شارة
</p>
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">  <img src="img/badge-vcon.png" width="100%" height="auto" class="center "></ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">  <img src="img/badge-v.png" width="100%" height="auto" class="center "></ion-radio>
         
        </ion-list>
    </div>

    <div class="step3" style="display: block">
        <p class="title">نزل وشارك</p>
        <div class="badge"><img src="img/photo-sample.png" width="100%" height="auto" class="center "></div>
        <div class="row">
          <div class="col col-50"><a href="" class="button btnClaim">نزل</a></div>
          <div class="col col-50"><a href="" class="button btnClaim">شارك
          </a></div>
        <div>

    </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/whydo-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/downloads-ar" nav-direction="forward">حصرية صور خلفيات في-ماليزيا 2017<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
