<ion-view id="merch" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>المعروضات</h1>
    </header>
    <article class="cusContent">

      <p class="headline">قم بزيارة كشك العرض الخاص بالفي، واحصل على هذه المعروضات الحصرية لفي-ماليزيا 2017!</p>
      <div class="merchCont">
        <div class="item">
          <!-- START MERCHANDISE ITEM-->
          <div><img src="http://placehold.it/500x400" width="100%" height="auto" class="center "></div>

          <div class="row merch-item">
            <div class="col col-80 merch-text">Title</div>
            <div class="col col-20 merch-price">RM 50</div>
          </div>
        </div>
        <div class="item">
          <!-- START MERCHANDISE ITEM-->
          <div><img src="http://placehold.it/500x400" width="100%" height="auto" class="center "></div>

          <div class="row merch-item">
            <div class="col col-80 merch-text">Title</div>
            <div class="col col-20 merch-price">RM 50</div>
          </div>
        </div>
        <div class="item">
          <!-- START MERCHANDISE ITEM-->
          <div><img src="http://placehold.it/500x400" width="100%" height="auto" class="center "></div>

          <div class="row merch-item">
            <div class="col col-80 merch-text">Title</div>
            <div class="col col-20 merch-price">RM 50</div>
          </div>
        </div>

        <br>
        <br>
  </ion-content>
  </div>
  </article>

</ion-content>
<ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/faqs-ar" nav-direction="forward">الأسئلة الشائعة<i class="ion-ios-arrow-right"></i></a>
</ion-footer-bar>

</ion-view>
