<ion-view id="newslanding" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
    <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Haberler ve Güncellemeler</h1>
    </header>
    <article class="cusContent">
      <div class="list">
        <!-- <a href="#/app/news?id={{mnews.Title}}" nav-direction="forward" class="item item-thumbnail-left" href="#" ng-repeat="mnews in myNews | filter: '2017' | orderBy: 'mnews.CreatedOn'">
          <img  src="{{mnews.ImageLink}}" width="100%" height="auto" class="center ">
          <h2>{{mnews.localTitle}}</h2> 
        </a> -->
          <div class="newscat">
            <div class="row" >
              <a href="#/app/news?id={{mnews.Title}}" nav-direction="forward"  class="col item"
           ng-repeat="mnews in myNews | filter: '2017' | orderBy: 'mnews.CreatedOn'">
                <h4>{{mnews.localTitle}}</h4>
                <h3>in {{mnews.SubCategory}} </h3>
                <img src="{{mnews.ImageLink}}"  width="100%" height="auto" class="center ">
                
                <div class="row">
                  <span class="col col-50 nopad date">{{mnews.CreatedOnDate}}</span>
                </div>
              </a>
            </div>
          </div>
      </div> 
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>      
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/penang101-tr" nav-direction="forward">Penang 101<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
