<ion-view id="splash" class="en splashbg" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="welcomeCont tr">
      <h1>ŞİMDİ <br/> SİZİN ZAMANINIZ!</h1>
      <div class="welcome">
        <p>Hayatınızın en iyi kararını verdiğiniz için kendinizi
          kucaklayın. SINIRSIZ olmanın peşinde hiçbir zaman
          vakit kaybetmeyenler için --eviniz olan V-Malezya
          2017'ye hoş geldiniz.
          <br>
          <br> HARİKA YAP.
          <br> ÖZGÜR OL.
          <br> ŞİMDİ YAP!</p>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/splash-tr" class="back" nav-direction="back">GERİ</a>
    <div class="pagination"><i class="ion-ios-circle-outline"></i> <i class="ion-record"></i></div>
    <a href="#/app/main-tr" nav-direction="forward">BİR SONRAKİ</a>
  </ion-footer-bar>
</ion-view>
