<ion-view id="splash" class="en splashbg" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="welcomeCont">
      <h1>ТВОЁ ВРЕМЯ <br/> УЖЕ НАСТУПИЛО!</h1>
      <div class="welcome">
        <p>Приготовься, ведь ты только что принял самое лучшее решение в своей жизни. Добро пожаловать на V-Малайзия 2017 – дом для тех, кто не желает тратить ни минуты в своём стремлении к БЕЗГРАНИЧНОСТИ!
          <br>
          <br> ДОБИВАЙСЯ РЕЗУЛЬТАТОВ.
          <br> БУДЬ СВОБОДНЫМ.
          <br> ДЕЛАЙ ЭТО СЕЙЧАС! </p>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/splash-ru" class="back" nav-direction="back">НАЗАД</a>
    <div class="pagination"><i class="ion-ios-circle-outline"></i> <i class="ion-record"></i></div>
    <a href="#/app/main-ru" nav-direction="forward">ВПЕРЕД</a>
  </ion-footer-bar>
</ion-view>
