<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vf-dsve.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Founder </h2>
        <h1>داتو سري فيجاي إشواران</h1>
      </div>
      <p class="intro">"في كل وقت تمارس فيه وتنافس فيه نفسك، تكون قد فزت سلفاً. طريقة النظر إلى المنافسة هي أن تنظر إلى الجزء الأول من RYTHM (ارتقي بنفسك لمساعدة البشرية)، وهو ‘ارتقي بنفسك‘. إذاً ارتقي بنفسك لتصبح فوق المنافسة". -- داتو سري فيجاي إشواران، في عالم السكون.</p>
      <p> 
      رجل برؤية عظيمة، يعتنق مؤسس الفي داتو سري فيجاي إشواران الحقيقة والروحانية بنوع من الشغف غير المعهود عند الكثيرين. إن إيمانه الذي لا يتزحزح بالعمل الجاد، المعرفة والعزيمة يستمر ليلهم قادة الشبكة بأرجاء العالم ليلاحقوا نجاحاً أعظم.
      <br/><br/>
      متسلحاً بمهمة أن يرتفع فوق المحن ويصنع فرقاً، نجح داتو سري فيجاي حيث فشل القادة الآخرون: لقد استطاع أن يلمس حياة الملايين من الناس، وما زال يفعل ذلك، من خلال حياته وعمله.
      <br/><br/>
      أكثر ما عرف به داتو سري فيجاي هو دفاعه عن فلسفة RYTHM (ارتقي بنفسك لمساعدة البشرية)، والتي ترجمت بشكل أساسي إلى العيش ضمن مبادئ الحقيقة، الوصول إلى، وتشجيع الآخرين للقيام بذلك. ناشراً باستمرار قاعدته الجوهرية المتمثلة في "الاستمرارية، المثابرة وبذل العرق"، أخذ التسويق الشبكي إلى مستوى أعلى - حيث شغف التعلم والتحفيز يترجمان إلى حرية مالية.
      <br/><br/>
      بجانب دوره كرئيس لكتلة كيو آي التي رأسمالها ملايين الدولارات، أيضاً داتو سري فيجاي مؤلف منجز بتقديمه من مكتبته كتاب في عالم السكون الذي تحول إلى أعلى المبيعات عالمياً. في إحدى لقاءاته مع مجلة فوياجر، شارك داتو سري فيجاي صيغته للنجاح: 60 دقيقة من السكون والاستبطان لمدة 21 يوم لتمكينك من تهدئة وتقييم ذاتك ودورك، والنظر للأمام. إن الانضباط العقلي الذي ينتج عن تدريبه يمكن أن يكون محرراً ومثمراً كما ثبت ذلك بشهادة العديد من الممارسين لهذه الأداة.
      <br/><br/>
      في عالم السكون "In the Sphere of Silence"، الذي نشر بالإنجليزية عام 2005، قد تمت ترجمته بالفعل إلى عدة لغات منها الألمانية، الفارسية، العربية والبهاسا الاندونيسية مع طبعات بلغات أخرى في قائمة الانتظار. منذ ذلك الحين كتب ثلاثة مجلدات ملهمة أخرى: 
      <br/><br/>

      <span dir="RTL">في نطاق التفكير </span> <span dir="LTR"> ،(2008)، "In the thinking Zone"</span>  
      <br/><br/> 
      <span>18 نقطة للبدء </span> <span dir="LTR">،(2010) ،"18 Stepping Stones"</span>  
      <br/><br/>
      <span>على أجنحة الفكر  </span> <span dir="LTR">،(2010) ،"On the wings of thought"</span>  
      <br/><br/>

      <span>دقيقتان من الهاوية </span> <span dir="LTR">.(2016) ،"Two minutes from the abyss"</span>  
      <br/><br/>
      وهو أيضاً كتب أعمدة في إصدارات رفيعة المستوى
      <br/><br/>
      ولد من عائلة ماليزية من أصول هندية، تم تعريف داتو سري فيجاي بعجائب الماونا (السكون) في سن مبكرة جداً من خلال جده المحبوب الذي تبنى السكون طريقة للحياة. إنه يعيش بين ماليزيا، هونغ كونغ، لندن، تايلاند وسيدني مع زوجته داتين سري أوميال.

      </p>


      أيضاً كتب

       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vfp-jtb-ar" nav-direction="forward">جوزيف بسمارك<i class="ion-ios-arrow-right"></i></a>    
  </ion-footer-bar>
</ion-view>
