<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Arun George</h1>
      </div>
      <p class="intro">“Parfois, vous devez être secoué hors de votre zone de confort pour réaliser que l'herbe est beaucoup plus verte et plus épanouissante ailleurs. Pour le V Partner Arun George, il a fallu une présentation d’affaires de QNET pour l’attirer au-delà du monde des affaires, où il était déjà prospère à Unilever à seulement 23 ans.” 
      </p>
      <p>
        En 2000, il s’est inscrit à plein temps dans le réseautage; En 2002, il a formé Titans avec d’autres grandes vedettes afin de conquérir les marchés du Moyen-Orient, de l'Afrique et de l'Asie. En tant que jeune networker et maintenant en tant que mentor mondial dans The V Family, son plus grand défi reste le même: “aider les gens à identifier leur propre potentiel et aider les gens à accepter l'entreprise.”
        <br/><br/> 
        Cela l'oblige à travailler avec des gens pour les aider à atteindre leurs objectifs grâce au marketing de réseau, surtout avec leurs équipes. En raison des idées fausses et des conflits externes, l'industrie n’est pas toujours bien accueillie avec ses possibilités. Cependant, le sentiment est plus doux lorsqu’il est atteint: “Chaque fois que nous relevons ces défis et aidons les gens à s’appuyer sur les résultats, les équipes réalisent leur potentiel et vont de l'avant - la plus grande réalisation [est] ce que nous [pouvons] accomplir ensemble en tant qu’ÉQUIPE du monde entier."
        <br/><br/>
        Il a peut-être déjà été élevé au rang des V Partners depuis V-Uganda 2008, mais son travail est loin d'être terminé. Maintenant, il s'efforce plus que jamais de partager son expérience et ses récompenses avec plus de gens. Surtout: “[Je veux] aider les gens à réaliser que c'est une entreprise professionnelle qui n’est pas vraiment basée sur la chance ou quoi que ce soit. Mais si vous suivez une formule conventionnelle comme beaucoup d'autres entreprises, [ça] devient en fait très prévisible tant que vous êtes cohérent."
        <br/><br/>
        Pour Arun George, il n'y a pas de tours de magie dans l'entreprise. "Travailler dur - [c’est] ce qui compte le plus." Et si vous avez suivi ses traces, votre succès vous rattrapera
      </p>   

          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ah-fr" nav-direction="forward">Adly Hassan<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


