<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ds.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>David Sharma</h1>
      </div>
      <p class="intro">
        Kemanapunr V Partner (VP) David Sharma pergi, sukses dan pengakuan pasti mengikutinya. Sebelum gabung di The V, ia membuat nama untuk dirinya sendiri di bidang manufaktur garmen dan bisnis ekspor. Dalam sekejap, ia juga memegang posisi di perusahaan pelayanan keuangan yang bermarkas di Hong Kong.
      </p>
      <p>
        Kisah suksesnya di penjualan langsung dibawa di hari ia bergabung dengan The V pada tahun 2004 pada saat ia diundang untuk menjadi bagian dari apa yang sekarang dinamakan Global Leadership Forum (GLF) – daftar dari pemimpin yang terpilih untuk melihat dan mewakili network di berbagai kunci pasar di seluruh dunia. Associate V Partners, dan anggota V Council kita dulunya adalah terinspirasi oleh GLF. 
        Saat VP David Sharma diberi gelar Associate V Partner atas kerjanya, ia semakin dalam terjun di berbagai V-Event dan aktifitas pengembangan network. Ia juga mengabdi sebagai Konsultan di The V, yang menanggung tanggung jawab memberikan saran kepada Senior Corporate Management tentang sistem bisnis dan proses network. Peran ini ada untuk menguatkan hubungan antara The V Corporate dan Network yang tersebar di seluruh dunia.
        <br/><br/> 
        Dedikasi dan semangat atas pekerjaannya diakui pada saat V-Indonesia 2012 di mana ia dianugerahi gelar V Partner, bergabung dengan kelompok pemimpin elit dan menginspirasi masing-masing QNET IR.
        <br/><br/>
        Sekarang, VP David menjalankan gelar V Partner dan The V Executive Director dengan sangat serius, dan menjadikan V Founder Dato’ Sri Vijay Eswaran dan V Managing Director Pathman Senathirajah sebagai atribut kesuksesan dan semangat barunya-dua orang dalam hidupnya yang mengarahkan dan mendukung untuk memenuhi tugasnya dan bertanggungjawab. Sekarang, ia membalasnya dengan terus lanjut mengarahkan perusahaan dan para network untuk ke tingkat yang lebih tinggi.
      </p>    

        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

      
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembiacara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-mk-id" nav-direction="forward">Mahendra Kumar<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


