<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Donna Marie Imson-Lecaroz</h1>
      </div>
      <p class = "intro">V Partner Donna Marie Imson-Lecaroz is one of those people who naturally stand out in a crowd not only because of their striking beauty and quiet grace, but because of the way they naturally exude joie de vivre. 
      </p>
      <p>
        VP Donna loves life and it is evident in the many roles that she portrays: a socially conscious powerhouse in network marketing, entrepreneurship and corporate management, an influential  speaker, intrepid traveler, student of life, loving mother, and most of all, a devoted wife.
        <br/><br/>
        She was one of the pioneer partners when The V was formed in 1998. Since then, she has evolved with the company and held various roles in the QI group as a founding director until she retired two years ago. With her incredible success in network marketing, it is of little wonder that VP Donna is considered among the major pillars of The V. 
        <br/><br/>
        Sharing the failings and learnings, struggles and successes she experienced in over 24 years of doing the business, VP Donna always gets a rousing reception from her audience anywhere in the world. A picture of authenticity, empowerment and vitality, VP Donna serves as an inspiration to thousands of men and women in the ever-growing V Family across the globe.
        <br/> <br/>
        She firmly believes that mindfulness, selflessness and servant leadership will lead The V into the realisation of its vision. 
        Her wisdom, guidance, and support combined with the individual attributes of the other V Partners, direct and sustain the The V’s mission to provide opportunities for change, growth, and development for those who seek it.
      </p>


      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-rs" nav-direction="forward">Ranjit Singh<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
