<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dmq.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dr. Motaz Qais</h1>
      </div>
      <p class = "intro">Her biri on yıl arayla dört kardeşten oluşan bir ailede büyüyen V Partner Dr. Motaz Qais, kısa süre içinde küresel bir yaşam yolculuğuna dönüşen canlı bir çocukluğa sahiptir: Şam'da büyümüş, gençliğinde Dubai'ye göç etmiş, Filipinler'de Diş Hekimliğini bitirmiş ve daha sonra Kahire'de Yüksek Lisans yapmıştır.
      </p>
      <p>
        Çalışmalarına dökülen inanılmaz sıkıntılarına rağmen, gelirinin hayaline yetmeyeceği sonucuna vardı. Dolayısıyla, o da, finansal olarak ve yaşam biçiminde olmak istediği yere ulaşmasına yardımcı olacak fırsatlar arıyordu.
        <br/><br/>
        Küçük bir çocukken, VP Dr. Motaz dünyanın eşitsizliklerini zaten anlamıştı; çünkü herkese hayatında eşit başarı elde etme şansı verilmediği açıktı. Ve bu yüzden network pazarlamacılığına getirildiğinde çok sevindi; çünkü böyle bir platform sayesinde, yalnızca eğitimin başarı oranının, milliyetin, toplumsal cinsiyetin değil, yaşın değil, ırkın değil, bir insanın yükselebileceğinin ölçüsü olabilecek yerlerin var olduğunu keşfetti. Bunu hayatında karşısına bir kez çıkabilecek bir şans olarak gördü ve hemen kayıt oldu!
        <br/><br/>
        Maalesef, bilgi ve materyallerin bugünkü gibi erişilebilir olmadığı zamanlardı; dahası, daha önce pek çok pazar geliştirilemedi. Konuyu daha da kötüleştirmek için, network pazarlaması genellikle zenginleşme amaçlı hızlı şemalar veya hileli uygulamalarla ilişkilendirildi. Bu nedenle, VP Dr. Motaz ilk aylarını bu konuyla ilgili okumaya ve kibar upline’ı tarafından eğitim almaya harcadı.
        <br/> <br/>
        Neyse ki,  V Kurucumuz Joseph Bismark onun için Orta Doğu'yu ziyaret etti ve  VP Dr. Motaz bizzat onunla görüştü. Harika bir rehberlik başladı ve bugün, V Kurucumuza Büyük Upline’ı olarak hayranlık duymaya devam ediyor.
        <br/><br/>
        VP Dr. Motaz için en büyük başarısı işe girmekti, çünkü bu, onu mali ve zihinsel büyüklük özgürlüğüne götürdü. Tutkulu, özverili V Kurucuları olan Dato 'Sri Vijay Eswaran ve Joseph Bismark'ı rol modelleri olarak sahip olduğu için kendini  % 100 şanslı sayarken o şanslı tarihte katıldığı için de %400 şanslı sayıyor.
        <br/><br/>
        Network pazarlamacılığındaki başarı formülü Öğrenme Artı Sürdürülebilirliktir. Bu nedenle, herkesi her zaman yeni bilgi aramaya çağırıyor. Bu hayatta çözümü olmayan hiçbir şey yoktur, diyor, sadece bunu bulmak için ne kadar çok emek harcıyorsunuz ve ne kadar çabalıyorsunuz? Bu her zaman için madde üzerinde bir zihin savaşıdır ve zihin bu işte en yakın arkadaşınız da olabilir veya en kötü düşmanınız da olabilir. Bağlılığın ve dürüstlüğün sadece network pazarlaması işinde değil, yaşamda da uygulayabildiğimiz bir yaşam biçimi olduğuna inanıyor.
        <br/><br/>
        VP Dr Motaz iş yerinde olmadığı zamanlarda, kendi çiftliğinde ekip biçer; hasat yapar; o da her gün uzun yürüyüşlere çıkar. Akdeniz'in sularını seyretmeyi ve kaşifinin kalbini yolculuğa çıkarmak için bir yata sahip olmayı planlıyor. Ancak nerede yaşarsa yaşasın, VP Dr. Motaz, her zamankinden daha ihtişamlı ve Yüce Allah'ın inançlı adamıdır ve tüm başarılarını O'na atfeder.
      </p>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-kp-tr" nav-direction="forward">K Padma<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
