<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Donna Marie Imson-Lecaroz</h1>
      </div>
      <p class = "intro">
        VPartner Donna Marie Imson-Lecaroz adalah salah satu orang yang secara alami terlihat berbeda bukan hanya karena kecantikan dan anugerahnya, tapi karena secara alami mereka memancarkan kegembiraan. VP Donna mencintai hidup dan itu terlihat di berbagai peran yang ia mainkan; tenaga social di network marketing, entrepreneur dan manajemen perusahaan, pembicara berpengaruh, wisatawan pemberani, pelajar kehidupan, ibu yang penyayang, dan yang paling penting, istri yang setia.
        <br/><br/>
        Ia adalah salah satu mitra pelopor ketika The V pertama kali terbentuk di 1998. Sejak itu ia berkembang dengan perusahaan dan memegang banyak peran di grup I sebagai founding director sampai ia pension dua tahun lalu. Dengan kesuksesan menakjubkannya di network marketing, tidak heran bahwa VP Donna dianggap sebagai pilar penting dalan The V.
        <br/><br/>
        Berbagi kegagalan dan pembelajaran, perjuangan dan kesuksesan yang telah ia alami dalam 24 tahun di bisnis, VP Donna selalu mendapatkan sambutan meriah dari penonton di mana pun di seluruh dunia. Gambaran keaslian, pemberdayaan dan vitalitas, VP Donna mengabdi sebagai inspirasi bagi tibuan pria dan wanita di V Family yang terus tumbuh di seluruh dunia.
        <br/> <br/>
        Ia sangat percaya bahwa kesadaran, tidak egois dan pemimpin yang melayani akan membawa The V ke dalam realisasi visinya. Kebijaksanaan, bimbingan, dan dukungan dikombinasikan dengan atribut pribadi dari V Partner lainnya, langsung dan mempertahankan misi The V untuk memberikan kesempatan bagi perubahan, pertumbuhan, dan pengembangan untuk mereka yang mencarinya.
      </p>

        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

    
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-rs-id" nav-direction="forward">Ranjit Singh<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
