<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ds.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>David Sharma</h1>
      </div>
      <p class="intro">
        Partout où le V Partner (VP) David Sharma va, le succès et la reconnaissance sont sûrs de suivre. Avant de rejoindre The V, il s'est fait un nom dans la fabrication et l'exportation de vêtements. Pendant un certain temps, il a également occupé un poste important dans une société de services financiers basée à Hong Kong.
      </p>
      <p>
        Son grand succès dans la vente directe a été mis en lumière le jour où il a rejoint The V en 2004 quand il a été invité à faire partie de ce qui était alors appelé le Global Leadership Forum (GLF) - une liste de leaders qui ont été choisis pour superviser et représenter le réseau dans divers marchés clés partout dans le monde. Nos Associate V Partners actuels et les V Council Members sont donc inspirés par le GLF.
Lorsque le VP David Sharma a reçu le titre d’Associate V Partner pour son travail, il a plongé encore plus profondément dans de nombreuses activités de V-Events et de développement de réseaux. Il a également été Consultant auprès de The V, qui a assumé la responsabilité de conseiller la direction générale de l’entreprise en matière de systèmes d'affaires et de processus de réseau. Ce rôle a servi à renforcer le lien entre The V Corporate et le Network répartis dans le monde entier.

        <br/><br/> 
        Le dévouement et la passion pour son travail ont été reconnus au V-Indonesia 2012 où il a été honoré par le titre de V Partner, rejoignant le groupe de leaders super élites et inspirant des personnalités pour tous les IRs de QNET.
        <br/><br/>
        Aujourd'hui, le VP David prend ses rôles de V Partner et The V Executive Director très au sérieux, et il attribue son succès et sa vigueur renouvelée au V Founder Dato' Sri Vijay Eswaran et au V Managing Director Pathman Senathirajah - les deux personnes dans sa vie qui lui ont donné des conseils et du soutien pour accomplir ses devoirs et responsabilités. Aujourd'hui, il retourne cette bonne volonté en guidant davantage l'entreprise et le réseau vers de nouveaux sommets.

      </p>  
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>    

    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-mk-fr" nav-direction="forward">Mahendra Kumar<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


