<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Kuna Senathirajah</h1>
      </div>
      <p class="intro">Le V Partner Kunaseelan Senathirajah a débuté en tant que chef d'entreprise accompli avec une solide expérience en marketing et en recherche avant de devenir un networker de puissance. Avant de rejoindre The V en 2000, le V Partner Kuna était analyste de recherche chez Jones Lang Wooton.
      </p>
      <p>
        Sa performance exceptionnelle lui a valu une promotion bien méritée en tant que directeur commercial et de location en peu de temps. Son rôle de directeur l'a placé à la tête de projets importants tels que Petronas Twin, Towers, KL Sentral et d'autres grands projets d'investissement et de construction en Malaisie.
        <br/><br/> 
        Quand finalement il a rejoint The V, le VP Kuna a été chargé de développer de nouveaux concepts et de nouvelles idées dans la tenue des conférences et des événements internationaux. Il a organisé et géré des événements en Malaisie, en Indonésie, en Inde et au Moyen-Orient – qui ont tous très réussi - au début de sa carrière avec l'entreprise. Il a également lancé l'idée de formation du Global Leadership Forum (GLF), qui a depuis longtemps évolué dans la nouvelle génération de leaders connus sous le nom de V Ambassadors.
        <br/><br/>
        Avec sa nomination en tant que V Partner, Mr. Kuna porte avec lui une vaste expérience dans la conduite de formations devant des foules internationales; dans le développement des marchés dans des pays inexploités; et dans le renforcement des liens entre l’entreprise et le réseau sans cesse croissant de leaders mondiaux, un engagement qu'il partage avec les 13 autres V Partners.
      </p>  

          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ps-fr" nav-direction="forward">Pathman Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


