<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-kp.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>K Padma</h1>
      </div>
      <p class="intro">
        Работая в текстильной промышленности в Индии и, имея двух детей, она почти не видела шансов реализации своей мечты, продолжай она вести свой прежний образ жизни. Таким образом, когда она узнала в возможности в QNET, она была очень этому рада, потому что понимала, что это может стать большим прорывом для нее и ее семьи".
      </p>
      <p>
        С самого начала V Partner K Padma безукоризненно выполняла свои бизнес-обязанности и была в числе самых преданных нетворкеров The V и QNET.
        <br/><br/> 
        Сразу после регистрации она не смогла полностью оценить потенциал этого бизнеса, однако она восполнила свою неопытность, благодаря своей преданности, а также поддержке со стороны аплайнов. “Я решила” - говорит она, “это было не только для меня, но и для моих потомков”.
        <br/><br/>
        Она верит в три вещи: первое - её успех построен на фундаменте из любви, обязательства, смелости, оптимизма и кредо «никогда не сдаваться»; второе - всегда практиковаться самой, прежде чем пытаться учить других; и третье - быть другом и образцом для подражания для людей, так как это самая важная вещь в организации, смысл которой в том, чтобы сделать людей ещё лучше.
        <br/><br/>
        Наша очаровательная V Partner черпает вдохновение в ее собственной матери. На досуге ей нравится слушать южно-индийскую классическую музыку, узнавать больше нового о дизайне интерьеров и, конечно же, она всегда стремится проводить время в кругу своей семьи.
        <br/><br/>
        K Padma официально стала V Partner во время V-Малайзия 2015 в Пенанге.
      </p>  
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      ВЕРНУТЬСЯ НАВЕРХ
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ru" class="back" nav-direction="back">Спикеры<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/newslanding-ru" nav-direction="forward">Новости и обновления<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


