<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Ranjit Singh</h1>
      </div>
      <p class="intro">Лидер сетевого маркетинга, за плечами которого опыт длиною в десятилетия, V Partner Ranjit Singh стойко держится за такую важную вещь, как время, и утверждает, что очень важно взять свою жизнь под собственный контроль ПРЯМО СЕЙЧАС. Именно об этом он ясно говорит на своих тренингах.
      </p>
      <p>
        V Partner Ranjit - профессиональный нетворк-консультант, получивший образование в Университете шт. Иллинойс, и он также является учредителем группы ачиверов Dream Achievers. До прихода в The V он успешно занимался бизнесом в швейной промышленности и индустрии моды в Австралии, пока его не позвал сетевой маркетинг, и с тех пор он ни разу не оглядывался на свою прошлую жизнь.
        <br/><br/> 
        V Partner Ranjit постоянно задействован в V-событиях, например, V-Конвенции во всем мире. Его личный вклад в рынок The V и развитие бизнес-стратегий компаний способствовали тому, что деятельность компании превзошла все ожидания. На мотивационных тренингах, которые он проводит для The V, он раскрывает перед своей аудиторией совершенно новые измерения - от причин на то, чтобы быть лидером, к осознанию этой причины и, в конечном счете, к вере в возможность огромных перемен. В этом и проявляется его богатый предпринимательский потенциал. ‘Пенджабский Лев', как его очень часто называет V Managing Partner Dato’ Sri Vijay, VP Ranjit входит число самых мотивирующих спикеров в The V.
      </p> 
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      ВЕРНУТЬСЯ НАВЕРХ
    </div>     
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ru" class="back" nav-direction="back">Спикеры<i class="ion-ios-arrow-left"></i></a>
  </ion-footer-bar>
</ion-view>


