<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>رانجيت سينج</h1>
      </div>
      <p class="intro">قائد تسويق شبكي مع عقود من الخبرة الثمينة في معيته، شريك الفي رانجيت سينج يتمسك بثبات بأهمية الوقت وتحمل مسؤولية حياة المرء الآن، ويتأكد جيداً من أن تصل رسالته بطريقة واضحة من خلال تدريباته.
      </p>
      <p>
        شريك الفي رانجيت هو مستشار تسويق شبكي محترف موثق من جامعة إيلينوي، وهو أيضاً مؤسس مجموعة محققو الأحلام. قبل الانضمام إلى الفي، نجح في إدارة عمل في صناعة الملابس والأزياء في أستراليا - حتى دعاه التسويق الشبكي ومنذ ذلك الحين لم ينظر إلى الوراء.
        <br/><br/> 
        شريك الفي رانجيت مغرم بشدة بفعاليات الفي مثل مؤتمرات الفي حول العالم. مساهمته في سوق الفي واستراتيجيات تطوير الأعمال التي ساعدت في نمو العمل فوق التصورات. من خلال التدريبات المحفزة التي يتولاها للفي، يأخذ جمهوره إلى بعد جديد تماماً – من مجرد وجود سبب لكونهم قادة إلى فهم هذا السبب وفي النهاية الإيمان بإمكانية تحقيق أشياء عظيمة حين يعين المرء قدراته الريادية الداخلية. "أسد البنجاب" كما يدعوه الشريك الإداري للفي داتو سري فيجاي، شريك الفي رانجيت يعد من بين المتحدثين التحفيزين المفضلين في الفي.

      </p>  
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ks-ar" nav-direction="forward">كونا سيناثيراجا<i class="ion-ios-arrow-right"></i></a>    
  </ion-footer-bar>
</ion-view>


