<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>TG Kintanar</h1>
      </div>
      <p class = "intro">Au cours de ses années de service formidables à The V, le V Partner TG Kintanar s'est consacré à l’exploration des moyens afin d’offrir des produits et services pratiques et rentables au réseau croissant de QNET.
      </p>
      <p>
        Grâce à sa grande expérience en technologie et en médias, le VP TG injecte des connaissances et une expertise exceptionnelles dans la présentation de produits et services modernes qui sont influencés par les dernières technologies.
        <br/><br/>
        Avec les dernières innovations et la percée technologique, le VP TG est à l'origine de la conceptualisation de produits diversifiés qui ont contribué à la croissance exponentielle de The V. Au fil des ans, le VP TG a aidé à diriger QI vers son positionnement actuel comme principal portail eCommerce en Asie.
        <br/><br/>
        Les innombrables contributions du V Partner TG proviennent d'une source essentielle de motivation : voir des vies changer. En partageant sa vie avec les défis et les opportunités qui se présentent à lui depuis qu'il a commencé dans l’industrie de réseautage il y a des années, le V Partner TG continue d'inspirer beaucoup de gens à faire une différence dans certains aspects des entreprises humaines – travail et famille inclus. Une de ses plus grandes sources d'épanouissement, c’est de voir la vie des individus et celle de leurs familles s'améliorer.

      </p>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil-fr" nav-direction="forward">Donna Imson-Lecaroz<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
