<ion-view id="whatis" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>Что такое V-Кон?</h1>
    </header>
    <article class="cusContent">
      <p class="headline">Мы знаем, что тебе вот-вот нужно бежать на презентацию, поэтому мы не займём много времени. </p>
      <p>V-Конвенция – это ежегодная встреча нетворкеров, которую организует The V. На эту встречу приглашаются все IR из QNET, которые стремятся узнать ещё больше о своём путешествии в нетворкинге. В программе конвенции предусмотрены мотивационные выступления и тренинги, которые имеют крайне важное значение в жизни каждого сетевика. Будучи партнёром, который идёт рядом с тобой на всём протяжении пути в сетевом маркетинге, The V делает всё возможное, чтобы эта 5-дневная конвенция помогла тебе приблизиться к твоей конечной цели, а именно – финансовая независимость.</p>
      <p class="teal14">Возможно, ты совсем новичок в нетворкинге. Возможно, ты посвятил этому бизнесу несколько лет. Теперь ты принял самое лучшее решение - приехать домой, на V-Кон, чтобы осознать свой безграничный потенциал величия. </p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Купить билет</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/main-ru" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/allabout-ru" nav-direction="forward">Всё о V-Малайзия 2017<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
