<ion-view id="whatis" class="en" view-title="" hide-nav-bar="true">
  <ion-content class="tr" has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>V-Con Nedir</h1>
    </header>
    <article class="cusContent">
      <p class="headline">Bir saat içinde sunumların planlandığını biliyoruz, bu yüzden çabuk olalım.</p>
      <p>V-Kongresi, V'nin ev sahipliğinde düzenlenen yıllık kapsamlı bir toplantıdır. Network pazarlama
yolculuğunun daha iyi anlaşılmasını isteyen QNET'in tüm IR'lerine açıktır. Bir networker olarak
hayatınızda gerekli olan bir dizi motivasyonel konuşmalar ve eğitim oturumları bekleyebilirsiniz. Network
pazarlama yolculuğunuz boyunca sizinle birlikte olacak bir ortak olarak V, finansal özgürlüğü kazanma
nihai hedefinizi talep etmenize yardımcı olmak için bu 5 günlük toplantıyı en üst düzeye çıkarmayı
amaçlıyor.</p>
      <p class="teal14">İster birkaç yıldır işin içinde olun ya da henüz kaydolmuş olun, eviniz olan V-Con'a gelip sınırsız
büyüklüğünüzü gerçekleştirmekten daha iyi bir karar veremezsiniz.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Bilet al</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/main-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/allabout-tr" nav-direction="forward"> V-Malezya Hakkında <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
