
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Aktifitas di Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Jika anda memiliki waktu luang untuk mengeksplor pulau ini, berikut 5-langkah guide untuk beraktifitas di Penang! Termasuk makan di Hawker Penang terbaik dan mengagumi warisan budaya dan pemandangan sekitar. </p>

       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-bazaar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">1. Kunjungi Chowrasta Bazaar untuk produk segar, makanan local, dan souvenir menarik.</div>
          </div>  
      </div>
       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-masjid.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">2. Berjalan ke Masjid Kapitan Keling,  merupakan masjid terbesar tertua di Georgetown.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-khoo.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">3. Eksplor komplek sejarah Khoo Kngsi, merupakan gedung administrative dengan kantor dan hall pertemuan, panggung operam dan 62 unit rumah teras dan ruko.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-komtar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">4. Berbelanjalah di lantai 57 KOMTAR, gedung tertinggi di Georgetown. Barisan toko duty free ada di sini. Anda juga dapat naik ke lantai 65 untuk melihat pemandangan dari Penang.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-jalannagore.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">5. Makan di Jalan Nagore, anda dapat memanjakan diri dengan makanan Malay, Chinese, and India.</div>
          </div>  
      </div>
     

    </article>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-id" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-id" nav-direction="forward">Cinderamata<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

