<ion-view id="whatis" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>ما هو الفي-كون؟</h1>
    </header>
    <article class="cusContent">
      <p class="headline">نحن نعرف انك لديك جدول عروض عمل في الساعة التالية، فل نجعل هذا سريعاً.</p>
      <p>مؤتمر الفي هو تجمع سنوي ضخم يستضاف من خلال الفي. إنه مفتوح لكل الوكلاء المستقلين لكيونت الذين يتمنون الحصول على المغذى الأفضل لرحلتهم في التسويق الشبكي. يمكنك توقع سلسلة من الخطابات التحفيزية والجلسات التدريبية التي هي تعتبر أساسية في حياتك كمسوق شبكي. كشريك سيظل معك عبر رحلتك في التسويق الشبكي، الفي يرنوا للاستفادة القصوى من مؤتمر الأيام الخمسة هذا لمساعدتكم للمطالبة بالهدف النهائي وهو الحصول على الحرية المالية. </p>
      <p class="teal14">إن كنت قد انضممت حديثاً او كنت في العمل لعدة سنوات، ليس لديك قرار أفضل من ان تأتي للديار للفي-كون وتدرك إمكاناتك الا محدودة للعظمة.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">شراء تذكرة</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/main-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/allabout-ar" nav-direction="forward">كل ما يخص في-ماليزيا 2017 <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
