<ion-view id="why" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">

    </header>
    <article class="cusContent">
      <div class = "header-logo">
        <img src="img/vcon2017logo-NOSHADOW-500.png">
      </div>
      <h1>WHY DO IT NOW</h1>
      <p class="headline">The time has finally arrived!</p>
      <p>As we live every waking moment, time is something that our lives are closely intertwined with. How we use it defines its value. In network marketing, time is always of the essence. In pursuit of building relationships and progress, we spare no minute
        in making sure that we achieve our goals. As The V constantly engages in changing people’s lives, this year’s V-Convention takes on a commanding temporal theme. Headlining as ‘Do It Now’, V-Malaysia 2017 presents a prime opportunity for networkers
        around the world to be in tune with the call to be limitless. </p>
      <p>Modeled after clockwork, the #VCON17 logo features the continuous progress V-Con focuses to engage its attendees with. With the high energy and passion that is geared to fuel each and every dreamer at V-Con, the logo reveals the special mechanism
        that energizes it to be an unbelievable event in network marketing. The modern font used that is set up like a beaming marquee becomes a loud and proud invitation to anyone who values their time and turning their dreams to reality. The precise
        steelwork that is mimicked thru the lines that strike across the logo signify the focus that is required of anyone who wishes to get the most out of V-Con. In anticipation of thousands of networkers coming home to V-Con, the logo adopts a circular
        shape as it embraces The V’s ever-growing global family.</p>
      <p>Shaded with the colour of the sky and sea, the logo bears blue to signify the boundless corners of the world we will reach and explore for limitless possibilities. As blue also symbolizes loyalty, trust, wisdom, and strength, the logo stands for
        all the things V-Con is constantly built upon. To complement the willful blue, red is also poured into this year’s logo as reflection of our collective love, passion, and excitement to make this year nothing short of unbelievable. As the colour
        of our blood, the logo’s red hue brings together what we live, breathe, and bleed for—our dreams. And there is no better moment to turn them into reality but to DO IT NOW.</p>
      <p class="got">Got time?
        <br> Witness this defining moment unfold here</p>
      <div class="videoCont">
        <iframe id="myframe" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" src="http://players.brightcove.net/3745659807001/default_default/index.html?videoId=5340625847001&autoplay=false&autoStart=false&player_autoStart=false"></iframe>
      </div>
    </article>


    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Buy Ticket</a>
    <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>



  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/allabout" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/mark" nav-direction="forward">Make Your V-Con Mark <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
