<ion-view id="why" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">

    </header>
    <article class="cusContent">
      <div class = "header-logo">
        <img src="img/vcon2017logo-NOSHADOW-500.png">
      </div>
      <h1>MENGAPA LAKUKAN SEKARANG</h1>
      <p class="headline">MENGAPA LAKUKAN SEKARANG</p>
      <p>Kita hidup setiap momen, waktu adalah sesuatu yang terjalin dekat dengan kehidupan kita. Bagaimana kita menggunakannya menentukan nilainya. Dalam network marketing, waktu selalu menjadi esensi. Dalam membangun hubungan dan progress, kita tidak menyia-nyiakan waktu dalam menyakinkan kita meraih tujuan kita. The V secara konstan ikut serta dalam merubah hidup seseorang, V-Conventional tahun ini mengambil tema duniawi berwibawa. Dengan inti ‘Lakukan Sekarang’, V-Malaysia 2017 mempersembahkan kesempatan emas bagi networker dari seluruh dunia untuk menyamakan panggilan menjadi tanpa batas.</p>
      <p>Dengan model seperti  jarum jam,logo  #VCON17 menampilkan progress berkelanjutan V-Con yang fokus untuk menjalin peserta. Dengan energi dan semangat besar yang diarahkan untuk mengisi setiap dan semua pemimpi di V-Con, logonya mengungkapkan special mekanika yang member energi untuk menjadi acara network marketing yang menakjubkan. Model huruf modern yang dipakai dibuat seperti tenda bersinar menjadi lantang dan bangga mengundang siapa saja yang menghargai waktunya dan mengubah mimpi menjadi kenyataan. Besi yang tepat sebagai mimic melalui garis yang melintang logonya menerangkan fokus yang dibutuhkan oleh siapa saja yang berharap mendapatkan yang terbaik dari V-Con. Sebagai antisipasi dari ribuan netoworker yang akan datang ke V-Con, logo menadopsi bentuk melingkar yang The V yang berkembang mencakup akan berkembangnya global family.</p>
      <p>Berbayang warna dari langit dan laut, logo mengandung warna biru menandakan sudut tak berbatas dunia yang akan kita raih dan eksplor untuk kemungkinan tanpa batas. Biru juga sebagai symbol kesetiaan, kepercayaan, kebijakan, dan kekuatan, logo mengandung keseluruhan hal di V-com yang secara konstan terus dibangun. Untuk melengkapi biru, merah juga ditambahkan dalam logo tahun ini sebagai refleksi dari kumpulan cinta, gairah, dan kegembiraan untuk menjadikan tahun ini menakjubkan. Sebagai warna darah kita, warna merah menyatukan apa yang kita hidupi, nafasm dan darah untuk—mimpi kita. Dan tidak ada momen lebih baik untuk membuat menjadi kenyataan selain </p>
      <p class="got">Punya waktu?
        <br>Saksikan saat yang menentukan terbuka di sini</p>
      <div class="videoCont">
        <iframe id="myframe" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" src="http://players.brightcove.net/3745659807001/default_default/index.html?videoId=5340625847001&autoplay=false&autoStart=false&player_autoStart=false"></iframe>
      </div>


    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">beli tiket</a>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/allabout-id" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/mark-id" nav-direction="forward">Tandai V-Con Anda<i class="ion-ios-arrow-right"></i></a>


  </ion-footer-bar>
</ion-view>
