<ion-view id="downloads" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <h1>EXCLUSIVE<br>V-MALAYSIA 2017 WALLPAPERS</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Bring the magic of V-Con wherever you go with these FREE downloadable wallpapers for your mobile devices!</p>
      <div class="menus">
        <a href="../img/wallpaper-mobile.jpg" download><i class="ion-android-arrow-down"></i> DOWNLOAD FOR MOBILE</a>
        <a href="../img/wallpaper-tablet.jpg" download><i class="ion-android-arrow-down"></i> DOWNLOAD FOR TABLET</a>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/speakers" nav-direction="forward">GET TO KNOW THE SPEAKERS <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
