<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vf-dsve.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Managing Partner and Founder </h2>
        <h1>Dato’ Sri Vijay Eswaran</h1>
      </div>
      <p>“V Founder, Joseph Bismark is a leader to thousands of entrepreneurial aspirants. He is known for his spiritual discipline and his deep experience in the martial arts.” <br/><br/>
The V bequeaths him a special spot in the heart of the network which currently numbers over in the several millions. A man with multiple layers to his personality, Mr. Bismark is considered by many as a powerful balancing force within the V. <br/><br/>
Mr. Bismark left home at the age of nine and went to live until the age of 17 in an ashram in the mountains of the Philippines where he grew up without electricity, heating or other modern amenities. Our V Founder is also a yoga instructor and a third dan in Taekwondo.
Mr. Bismark’s spiritual background and innate leadership qualities have given him the strength to manage the various roles that he plays within the group. His entry into the business world came when he was working as a martial arts instructor at a major university in the Philippines. That was when he got introduced to Dato’ Sri Vijay Eswaran, V Founder. Their shared interests in Vedic Philosophy and spirituality brought them together. Shortly afterwards, a small network marketing company was formed which today has grown into a global business. <br/><br/>
Mr. Bismark plays an active role in the company, not just by establishing business relationships but by building sincere friendships with customers and colleagues alike. His interests and decisions are guided by the desire to help people regardless of their economic, social or racial backgrounds. His success is not built on material achievements but on the inner satisfaction and peace achieved by rendering meaningful service to others and through spiritual growth. <br/><br/>
In June 2010, he added “author” to his already impressive dossier with the release of his first book, The Gem Collection: A compilation of Wisdom during V-Malaysia 2010.
When not travelling around the world overseeing the group’s various operations, Mr. Bismark lives with his family in Singapore.
</p>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
  </ion-footer-bar>
</ion-view>
