<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Kuna Senathirajah</h1>
      </div>
      <p class="intro">V Partner Kunaseelan Senathirajah started off as an accomplished corporate executive with strong background in Marketing and Research before becoming a powerhouse networker. Before joining The V in the year 2000, V Partner Kuna was a Research Analyst at Jones Lang Wooton.
      </p>
      <p>
        His outstanding performance earned him a well-deserved promotion as a Commercial and Leasing Manager in just a short span of time. His role as the manager put him on top of important projects such as Petronas Twin Towers, KL Sentral, and other major investment and construction projects in Malaysia.
        <br/><br/> 
        When finally he joined The V, VP Kuna was tasked to develop new concepts and fresh ideas in staging Conferences and International Events. He organised and managed events in Malaysia, Indonesia, India and the Middle East – all of which were highly successful – at the beginning of his career with the company. He also initiated the idea of forming Global Leadership Forum (GLF), which has long since evolved into the new generation of leaders known as the V Ambassadors.
        <br/><br/>
        With his appointment as a V Partner, Mr. Kuna brings with him a wealth of experience in conducting trainings before international crowds; developing markets in countries untapped; and strengthening ties between Corporate and the steadily growing network of global leaders, a commitment he shares with the other 13 V Partners.
      </p>      
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
  </ion-footer-bar>
</ion-view>


