<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>TG Kintanar</h1>
      </div>
      <p class = "intro">In his years of formidable service to The V, V Partner TG Kintanar has been dedicated to exploring ways to provide practical and profitable products and services to QNET’s growing network.
      </p>
      <p>
        Backed by his extensive experience in technology and media, VP TG injects exceptional knowledge and expertise in presenting modern products and services that are influenced by the latest in technology.
        <br/><br/>
        With the latest innovations and technological breakthrough, VP TG spearheads the conceptualization for diversified products that contributed to the V’s exponential growth. Through the years, VP TG has helped in steering QI to its current position as the leading eCommerce portal in Asia.
        <br/><br/>
        V Partner TG’s innumerable contributions stem from one pivotal source of motivation: seeing lives change. By sharing his life and the challenges and opportunities that have come his way since he started in the networking industry years ago, V Partner TG continues to inspire a lot of people to make a difference in certain aspects of human endeavour – work and family included. One of his greatest sources of fulfillment is seeing the lives of individuals and their families improve.

      </p>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
  </ion-footer-bar>
</ion-view>
