<ion-view id="about" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <div class="about-title">
        <h1>About</h1>
        <h1>V-Malaysia 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">The next 120 seconds you spend reading this can change your life forever.</p>
      <p>Happening from 3 to 7 May 2017 at SPICE Arena, Penang, Malaysia, V-Malaysia 2017 will gather thousands of networkers from around the world who are unstoppable in their pursuit for success. If you’ve got tons of questions, there will be multiple talks and presentations from a roster of world-class speakers that can point you to the answers you seek.</p>
      <p>Whether you just signed up or have been in the business for several years, you have no better decision but to come home to V-Con and realize your limitless potential for greatness.</p>
      <p>Want to buy your tickets to this unbelievable event? </p>
      <p class="txt20">DO IT NOW.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Buy Ticket</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whydo" nav-direction="forward">WHY DO IT NOW <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
