
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>How to Get Around in Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">First time in Malaysia’s island state? Here are some helpful quick links on where to stay, what to do, and how to get around Penang!</p>

      <div class="item">
          <!-- START penang ITEM-->
          <div>
            <img src="http://lorempixel.com/500/400/abstract/6" width="100%" height="auto" class="center ">
          </div>
          <div class="penang-item">
            <div class="penang-text">Cheong Fatt Tze Mansion</div>
            <div class="penang-desc">Former home of a teenage chinese merchant who eventually built an empire across Asia, this lavish mansion boasts an architecture treasure that will surely entice travellers who are in search of both visual and financial inspiration</div>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div>
            <img src="http://lorempixel.com/500/400/abstract/1" width="100%" height="auto" class="center ">
          </div>
          <div class="penang-item">
            <div class="penang-text">Cheong Fatt Tze Mansion</div>
            <div class="penang-desc">Former home of a teenage chinese merchant who eventually built an empire across Asia, this lavish mansion boasts an architecture treasure that will surely entice travellers who are in search of both visual and financial inspiration</div>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div>
            <img src="http://lorempixel.com/500/400/abstract/2" width="100%" height="auto" class="center ">
          </div>
          <div class="penang-item">
            <div class="penang-text">Cheong Fatt Tze Mansion</div>
            <div class="penang-desc">Former home of a teenage chinese merchant who eventually built an empire across Asia, this lavish mansion boasts an architecture treasure that will surely entice travellers who are in search of both visual and financial inspiration</div>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div>
            <img src="http://lorempixel.com/500/400/abstract/3" width="100%" height="auto" class="center ">
          </div>
          <div class="penang-item">
            <div class="penang-text">Cheong Fatt Tze Mansion</div>
            <div class="penang-desc">Former home of a teenage chinese merchant who eventually built an empire across Asia, this lavish mansion boasts an architecture treasure that will surely entice travellers who are in search of both visual and financial inspiration</div>
          </div>
      </div>      

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise" nav-direction="forward">merchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

