<ion-view id="contact" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid"></header>
    <article class="cusContent">
      <h2>HUBUNGI KAMI</h2>
      <p class="headline">Jika anda mengalami masalah mengakses website kami, atau pertanyaan lebih lanjut yang tidak tersedia di halaman Tanya Jawab, silahkan hubungi kami melalui email sebagai berikut.</p>
      <p class="med">Technical Support:
        <br><a href="mailto:vbox@the-v.net" target="_top" class= "email">vbox@the-v.net</a>
      </p>
      <p class="med">Konten dan Terjemahan: 
        <br><a href="mailto:vijiyar.vcomm@the-v.net" target="_top" class= "email">vcomm@the-v.net</a>
      </p>
      <p>Untuk Pertanyaan :
        <br>Mr. Vijiyar Thevan.
        <br><a href="mailto:vijiyar.thevan@the-v.net" target="_top" class= "email">vijiyar.thevan@the-v.net</a>
        <br>+601 2209 3793
        <br>
        <br>
        <br>Ms. Kauri Subramaniam
        <br><a href="mailto:kauri.s@the-v.net" target="_top" class= "email">kauri.s@the-v.net</a>
        <br>+603 7965 8299
      </p>
      <p>Like. Follow. Share. Ramaikan. #VCON17</p>
      <p class="follow">
        <a href="#" onclick="window.open('https://www.facebook.com/TheV.official/', '_system', 'location=yes'); return false;"><i class="ion-social-facebook"></i></a>
            <a href="#" onclick="window.open('https://twitter.com/thev_official', '_system', 'location=yes'); return false;"><i class="ion-social-twitter"></i></a>
            <a href="#" onclick="window.open('https://www.instagram.com/thev_official/', '_system', 'location=yes'); return false;"><i class="ion-social-instagram"></i></a>
            <a href="#" onclick="window.open('https://www.snapchat.com/add/thevofficial', '_system', 'location=yes'); return false;"><i class="ion-social-snapchat"></i></a>
        </p>
      </p>
    </article>

  </ion-content>
</ion-view>




     