<ion-view id="downloads" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <h1>EXCLUSIF<br>FONDS D'ÉCRAN V-MALAYSIA 2017</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Emmenez la magie du V-Con partout où vous allez avec ces fonds d'écran téléchargeables GRATUITEMENT pour vos appareils mobiles!</p>
      <div class="menus">
        <a href="../img/wallpaper-mobile.jpg" download><i class="ion-android-arrow-down"></i> Tilicharger pour mobile</a>
        <a href="../img/wallpaper-tablet.jpg" download><i class="ion-android-arrow-down"></i> Tilicharger pour tabletteT</a>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/mark-fr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
      <a href="#/app/speakers-fr" nav-direction="forward">Faites la connaissance des orateurs<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
