<ion-view id="faq" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid tr">
      <h1>ÇSS</h1>
    </header>
    <article class="cusContent">
      <p class="question">Bir bilet nasıl alırım?</p>
      <p class="answer">V-Malezya 2017 biletinizi almak için buraya tıklayın.</p>
      <a class="button buyticket orange" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Bilet al</a>

      <p class="question">Ödeme koşulları nelerdir?</p>
      <p class="answer">Şu anda, nakit veya kredi kartı ile (Visa ve MasterCard) ödeme yapabilirsiniz. 
      </p>

      <p class="question">Ne getirmeli?</p>
      <p class="answer">V-Con'a mı gideceksiniz? Aşağıda, getirmeniz gereken 5 önemli şey var:
      1. Kayıt sırasında, geçerli bir (1) kimlik ve biletinizi aldıktan hemen sonra size e-posta yoluyla
gönderilecek onay mektubunun bir kopyasını getirin. <br/> <br/>
     2. Yiyecek, içecek, ulaşım, V-Con ürünleri, hediyelik eşyalar vb. için harcayabileceğiniz 5 gün sürecek
      kadar harçlık para <br/> <br/>
      3. 5 gün için kıyafet. Ekstra gömlek veya havlu getirdiğinizden emin olun. <br/> <br/>
      4. Ekibiniz ve sevdiklerinizle irtibatta olabilmeniz için yanınızda bir cep telefonu da getirin. Telefonunuzu 
      ve diğer aygıtlarınızı istediğiniz zaman şarj edebilmek için bir powerbank de getirmeyi unutmayın. <br/> <br/>
      5. Değerli V-Con anılarınızı kalıcı kılmak için yanınıza bir fotoğraf makinesi alın ve eve döndüğünüzde
      ailenize ve gelecekteki umutlara gösterebileceğiniz bir şeyler bulun.
      </p>
      <p class="question">Etkinliğin yapıldığı gün bilet satılacak mı? </p>
      <p class="answer">Evet. Sadece nakit ve kredi kartı ile yapılan işlemler karşılanacaktır.</p>
      <p class="question">Bir günlük etkinlik biletleri var mı?</p>
      <p class="answer">Hayır. Sizin için hazırladığımız 5 günlük program, yaşamı değiştirecek bir deneyim için 1. Gün'den 5.
Gün'e kadar devam etmeniz gereken bir şeydir. Bu, işiniz için son derece gerekli olan, aksiyon dolu
bir aktivite serisine sahip kapsamlı, bütüncül bir olaydır.</p>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>            
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/contact-tr" nav-direction="forward">BİZİMLE İLETİŞİME GEÇİN<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
