<ion-view id="faq" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>الأسئلة الشائعة </h1>
    </header>
    <article class="cusContent arab-rtl">
      <p class="question" >كيف يمكنني شراء تذكرة؟</p>
      <p class="answer">انقر هنا لشراء تذكرتك لفي-كون ماليزيا 2017</p>
      <a class="button buyticket orange" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">شراء تذكرة</a>
      
      <p class="question">ما هي خيارات الدفع المتاحة؟</p>
      <p class="answer">حاليا، يمكنك الدفع نقدا أو ببطاقة الائتمان (فيزا وماستركارد).</p>

      <p class="question">ماذا أحضر؟</p>
      <p class="answer" dir="RTL"> 1. أثناء التسجيل، احضر (1) هوية شخصية سارية المفعول ونسخة من رسالة التأكيد التي سيتم إرسالها لكم عبر البريد الإلكتروني مباشرة بعد شراء التذكرة.
        <br><br>2. ما يكفي من مصروف الجيب لمدة 5 أيام، والتي قد تنفق على الطعام والشراب، والنقل، معروضات الفي-كون، والهدايا التذكارية، الخ.
        <br><br/>3. . ملابس كافية لمدة 5 أيام. تأكد من إحضار قمصان إضافية أو المناشف.
        <br><br/>4.  احضر هاتف نقال معك وكذلك للتأكد من أنه يمكنك البقاء على اتصال مع فريقك وأحبتك. لا تنسى أن تحضر أيضاً بنك طاقة متنقل للتأكد من امكانية إعادة شحن الهاتف وغيرها من الأدوات الخاصة بك في أي وقت.
        <br><br/>5. خذ معك كاميرا لإبقاء ذكريات الفي-كون الثمينة تدوم، والحصول على شيء يمكن أن تريه لعائلتك ومرشحيك في المستقبل عند العودة إلى المنزل.

      </p>

      <p class="question">هل ستكون هناك تذاكر للبيع في يوم الحدث نفسه؟</p>
      <p class="answer">نعم. سيتم فقط قبول المعاملات من خلال النقد وبطاقات الائتمان.</p>

      <p class="question">هل سوف يكون هناك يوم تذاكر ليوم واحد من الحدث؟</p>
      <p class="answer">لا. برنامج الـ 5 أيام الذي أعددناه لك هو شيء يجب أن تحضره من يوم الأول إلى الخامس لتجربة مغيرة للحياة بشكل كامل. هو حدث شامل، متكامل مع مجوعة أنشطة معبأة بالأحداث والتي تعتبر ضرورية للغاية لعملك.</p>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/contact-ar" nav-direction="forward">اتصل بنا<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
