
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Penang’da Nasıl Gezilir</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Penang'da sıklıkla kullanılan ulaşım araçları otobüsler ve taksilerdir. Özel araba ve otobüs kiralama da sıklıkla rastlanır; bu da ekibinizle birlikte seyahat ediyorsanız yararlı olabilir.</p>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-tr" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-tr" nav-direction="forward">Ürünler<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

