<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <a menu-close href="#/app/main-tr">
        <div class="menu-logo">
          <img src="img/vcon2017logo-200.png">
        </div>
      </a>
    </ion-header-bar>
    <ion-content has-bouncing="false" has-footer="true">
      <ion-list class="primary">

        <ion-item menu-close href="#/app/main-tr">
          Ana sayfa
        </ion-item>
        <ion-item menu-close href="#/app/whatis-tr">
          V-Con nedir?
        </ion-item>
        <ion-item menu-close href="#/app/allabout-tr">
          V-Malezya 2017 Hakkında Her şey
        </ion-item>
        <ion-item menu-close href="#/app/whydo-tr">
          Neden Şimdi Yapmalısın?
        </ion-item>
        <ion-item menu-close href="#/app/mark-tr">
          V-Con İzini Oluştur
        </ion-item>
        <ion-item menu-close href="#/app/downloads-tr">
          #VCON17 Duvarkağıtları
        </ion-item>
        <ion-item menu-close href="#/app/speakers-tr">
          Konuşmacılar
        </ion-item>
        <ion-item menu-close href="#/app/newslanding-tr">
          Haberler ve Güncellemeler
        </ion-item>
        <ion-item menu-close href="#/app/ticket-tr">
          Bilet al
        </ion-item>
        <ion-item menu-close href="#/app/penang101-tr">
          Penang 101
        </ion-item>
        <ion-item menu-close href="#/app/merchandise-tr">
          Ürünler
        </ion-item>
        <ion-item menu-close href="#/app/faqs-tr">
          ÇSS
        </ion-item>
        <ion-item menu-close href="#/app/contact-tr">
          BİZİMLE İLETİŞİME GEÇİN
        </ion-item>
        <ion-item menu-close href="#/app/splash">
          <i class="ion-ios-world-outline"></i> &nbsp; &nbsp; Türkçe
        </ion-item>
        <!--
        <ion-item menu-close ng-click="contact()">
          Login
        </ion-item> -->
      </ion-list>

      <div class="follow">
        <p>Beğen. Takip et. Paylaş. Gürültü Çıkar. #VCON17</p>
        <p>
          <a href="#" onclick="window.open('https://www.facebook.com/TheV.official/', '_system', 'location=yes'); return false;"><i class="ion-social-facebook"></i></a>
            <a href="#" onclick="window.open('https://twitter.com/thev_official', '_system', 'location=yes'); return false;"><i class="ion-social-twitter"></i></a>
            <a href="#" onclick="window.open('https://www.instagram.com/thev_official/', '_system', 'location=yes'); return false;"><i class="ion-social-instagram"></i></a>
            <a href="#" onclick="window.open('https://www.snapchat.com/add/thevofficial', '_system', 'location=yes'); return false;"><i class="ion-social-snapchat"></i></a>
        </p>

      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
