<ion-view id="newslanding" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
    <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Haberler ve Güncellemeler</h1>
    </header>
    <article class="cusContent">

      <div class="list">

        <a href="#/app/news" nav-direction="forward" class="item item-thumbnail-left" href="#">
          <img src="http://placehold.it/110x80" width="100%" height="auto" class="center ">
          <h2>Pretty Hate Machine</h2>
        </a>

        <a href="#/app/news" nav-direction="forward" class="item item-thumbnail-left" href="#">
          <img src="http://placehold.it/110x80" width="100%" height="auto" class="center ">
          <h2>Pretty Hate Machine</h2>
        </a>

        <a href="#/app/news" nav-direction="forward" class="item item-thumbnail-left" href="#">
          <img src="http://placehold.it/110x80" width="100%" height="auto" class="center ">
          <h2>Pretty Hate Machine</h2>
        </a>

        <a href="#/app/news" nav-direction="forward" class="item item-thumbnail-left" href="#">
          <img src="http://placehold.it/110x80" width="100%" height="auto" class="center ">
          <h2>Pretty Hate Machine</h2>
        </a>

        <a href="#/app/news" nav-direction="forward" class="item item-thumbnail-left" href="#">
          <img src="http://placehold.it/110x80" width="100%" height="auto" class="center ">
          <h2>Pretty Hate Machine</h2>
        </a>

        <a href="#" nav-direction="forward" class="item loadmore" href="#">
          Load more
        </a>
      </div>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>      
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/ticket-tr" nav-direction="forward">Bilet al<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
