<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Пенанг 101</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Впервые на этом островном штате в Малайзии? Предлагаем несколько полезных ссылок, которые помогут выбрать гостиницу и дадут другие полезные советы по занятиям и перемещению в Пенанге!</p>
      <div class="menus">
        <a href="#/app/whereto-ru">Где остановиться в Пенанге</a>
        <a href="#/app/howto-ru">Перемещения по Пенангу</a>
        <a href="#/app/whatto-ru">Чем занять себя в Пенанге</a>
      </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/ticket-ru" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ru" nav-direction="forward">Товары<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
