<ion-view id="splash" class="en splashbg" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="welcomeCont">
      <h1>VOTRE TEMPS C’EST MAINTENANT!</h1>
      <div class="welcome">
        <p>Préparez-vous car vous venez juste de prendre la meilleure décision de votre vie. Bienvenue au V-Malaysia 2017 – la maison de ceux qui ne perdent pas de temps dans la poursuite d'être SANS LIMITES.
          <br>
          <br> FAITES BIEN.
          <br> SOYEZ LIBRES.
          <br> FAITES-LE MAINTENANT!</p>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/splash-fr" class="back" nav-direction="back">RETOUR</a>
    <div class="pagination"><i class="ion-ios-circle-outline"></i> <i class="ion-record"></i></div>
    <a href="#/app/main-fr" nav-direction="forward">SUIVANT</a>
  </ion-footer-bar>
</ion-view>
