<ion-view id="splash" class="en splash" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="selectLang">
      <ion-list>
        <ion-radio ng-model="choice" ng-value="'A'">English</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'" dir="RTL">العربية</ion-radio>
        <ion-radio ng-model="choice" ng-value="'C'">Bahasa-Indonesia</ion-radio>
        <ion-radio ng-model="choice" ng-value="'D'">Français</ion-radio>
        <ion-radio ng-model="choice" ng-value="'E'">Türk</ion-radio>
        <ion-radio ng-model="choice" ng-value="'F'">рсский</ion-radio>        
      </ion-list>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <div class="pagination"><i class="ion-record"></i> <i class="ion-ios-circle-outline"></i></div>
    <a href="#/app/splashnext-tr" nav-direction="forward">BİR SONRAKİ</a>
  </ion-footer-bar>
</ion-view>
