<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>تعرف على<br> <span class="txt50">المتحدثين</span></h1>
    </header>
    <article class="cusContent">

      <div class="row">
        <a href="#/app/vmp-dato-ar" nav-direction="forward" class="col col-50">
          <img src="img/m-vf-dsve.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Founder</div>
          <div class="name">داتو سري فيجاي إشواران</div>
        </a>
        <a href="#/app/vfp-jtb-ar" nav-direction="forward" class="col col-50">
          <img src="img/m-vf-jtb.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Founder</div>          
          <div class="name">جوزيف بسمارك</div>
        </a>
      </div>

      <div class="row">
        <a href="#/app/vp-tg-ar" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
            <div class="name light-blue">V Partner</div>
            <div class="name">تي جي كينتانار</div>
        </a>
        <a href="#/app/vp-dil-ar" nav-direction="forward" class="col col-33">    
            <img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
            <div class="name">دونا ماري امسون ليكاروز</div>
        </a>
        <a href="#/app/vp-rs-ar" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
             <div class="name">رانجيت سينج</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-ks-ar" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
            <div class="name">كونا سيناثيراجا</div>
        </a>
        <a href="#/app/vp-ps-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">باتمان سيناثيراجا</div>
        </a>
        <a href="#/app/vp-ag-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">أرون جورج</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-ah-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">عدلي حسن حامد</div>
        </a>
        <a href="#/app/vp-ss-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ss.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">ساتي سيناثيراجا</div>
        </a>
        <a href="#/app/vp-ft-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ft.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">فيردي تلنتينو</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-cm-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-cm.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">شريان ماثيو</div>
        </a>
        <a href="#/app/vp-ds-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ds.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">ديفيد شارما</div>
        </a>
        <a href="#/app/vp-mk-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-mk.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">ماهيندرا كومار</div>
        </a>
      </div>
          <div class="row">
        <a href="#/app/vp-dmq-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-dmq.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">د. معتز قيس</div>
        </a>
        <a href="#/app/vp-kp-ar" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-kp.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">كاي بادما</div>
        </a>
      </div>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/downloads-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/newslanding-ar" nav-direction="forward">الأخبار والمستجدات<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
