<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vf-dsve.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Kurucusu</h2>
        <h1>Dato’ Sri Vijay Eswaran</h1>
      </div>
      <p class="intro">"Kendinize uygularsanız ve kendinizle rekabet ederseniz, zaten kazandınız demektir. Rekabete bakmanın yolu, RYTHM( İnsanlığa Yardım Etmek için Yüksel)'in ilk bölümü olan 'Kendini Yükselt' mektir; bu nedenle kendinizi yükseltin. Rekabetin üstünde olmak için kendinizi yükseltin " - Dato 'Sri Vijay Eswaran, In the Sphere of Silence</p>
      <p> 
      V Kurucusu Dato 'Sri Dr. Vijay Eswaran, pek çok kişinin bilmediği bir tutku ile gerçekliği ve maneviyatı benimser. Güçlü çalışma, bilgi ve kararlılıkla ilgili değişmeyen inancı,  dünya çapındaki network liderlerine daha fazla başarı sağlamak için ilham vermeye devam ediyor.
      <br/><br/>
      Dato 'Sri Dr. Vijay, olumsuzlukların üstesinden gelme ve fark yaratma misyonuyla kuşanmıştır ve diğer liderlerin başarısız oldukları şeyleri başarmıştır: milyonlarca insanın hayatına dokunmayı başardı ve hayatını ve eserini devam ettirdi.
      <br/><br/>
      Dato 'Sri Vijay, hakikat ilkeleri içinde yaşamak, ve başkalarını buna cesaretlendirmek için kullanılan RHYTM (İnsanlığa Yardım Etmek İçin Yüksel) felsefesini savunmasıyla tanınır "Kalıcılık, azim ve ter" yönündeki temel kuralını sürekli olarak yayarak, öğrenme ve motivasyona olan tutkusu ile maddi özgürlüğe dönüşen daha yüksek bir seviyeye geçmiştir.
      <br/><br/>
      Multi milyonluk holding olan Qi Ltd, başında olmak rolü dışında Dato 'Sri Vijay, ilk edebiyat eseri olan In the Sphere Of Silence uluslararası bir best seller’a dönüşen başarılı bir yazardır. Voyager dergisiyle yaptığı röportajlardan birinde Dato 'Sri Dr. Vijay başarı formülünü paylaştı: 21 günlük kendi iç yolculuğunuz ve 60 dakika sessizlik, sizin yavaşlamanızı, kendinizi ve rolünüzü değerlendirebilmenizi ve ilerlemenizi sağlayacaktır. Bu alıştırmayla çizilen zihinsel disiplin, bu aracın uygulayıcıları tarafından kanıtlandığı üzere sizler için hem özgürleştirici hem de faydalı olacaktır.
      <br/><br/>
      2005 yılında İngilizce yayınlanan In the Sphere of Silence; Almanca, Farsça ve Bahasa Endonezya dâhil olmak üzere birçok dilde tercüme edilmiştir. O zamandan beri The Thinking Zone (2008), 18 Stepping Stones (2010),  On the Wings Of Thought (2011), Two Minutes From Abyss (2016) olmak üzere üç ilham kaynağı daha kaleme almıştır. Ayrıca prestijli haber yayınlarında köşe yazıları yazmıştır.
      <br/><br/>
      Malezyalı Hint kökenli bir ailede dünyaya gelen Dato 'Sri Vijay, sessizliği bir yaşam biçimi olarak benimseyen dedesi tarafından çok genç yaşta mouna'nın (sessizlik) harikaları ile tanıştırılmıştır. Eşi Datin Sri Umayal ile Malezya, Hong Kong, Londra, Tayland ve Sidney arasında yaşamaktadır
      </p>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vfp-jtb-tr" nav-direction="forward">Joseph Bismark <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
