<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>عدلي حسن حامد</h1>
      </div>
      <p>
        شريك الفي عدلي هو رجل ذو أحلام وقناعات. عرف عن كيونت من خلال أخيه، واخذت حياته منعطفاً غير متوقع. مليئاً بالإصرار لتحقيق أحلامه، جاءه النجاح بعد بضع سنوات فحسب. بالنسبة له، لا يوجد شيء يدعى "سر النجاح". سوف تنجح ما دمت مخلصاً لتكون أفضل شخص يمكنك أن تكون.
        <br/><br/> 
        هو قائد خادم بارز لفريقه، باثفايندرز، شريك الفي عدلي بنى شبكات في السودان، والإمارات العربية المتحدة، وشمال أفريقيا، ومصر، وغرب أفريقيا.
        <br/><br/>
        أعلن شريك الفي عدلي كشريك للفي خلال في-كون ماليزيا 2009. اضافته إلى مجموعة نخبة قادة الفي قدمت حكمة ونظرة جديدة للارتقاء بالمنظومة إلى القمة.

      </p>   
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ss-ar" nav-direction="forward">ساتي سيناثيراجا<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


