<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Adly Hassan</h1>
      </div>
      <p>
        VP Adly adalah pria idaman dan impian. Ia diperkenalkan dengan QNET oleh saudara laki-lakinya, dan hidupnya secara tidak diharapkan berputar arah. Dipenuhi dengan keinginan untuk meraih mimpinya, sukses diraihnya hanya dalam beberapa tahun. Baginya, tidak ada yang namanya ‘rahasia menuju sukses’. Anda akan sukses selama anda berdedikasi untuk menjadi pribadi yang terbaik yang anda bisa.
        <br/><br/> 
        Terkenal sebagai pemimpin yang melayani bagi timnya, The Pathfinders, VP Adly telah membangun network di Sudan, UAE, Mesir, Afrika Utara, Afrika Barat.
        <br/><br/>
        VP Adly diumumkan sebagai V Partner pada saat V-Malaysia 2009. Dengan penambahan dirinya di daftar pemimpin elit The V telah memberikan sudut pandang dan kebijaksanaan yang baru untuk membawa organisasi ke puncak.
      </p>     
        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

     
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ss-id" nav-direction="forward">Sathi Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


