<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Adly Hassan</h1>
      </div>
      <p>
        VP Adly hayallerin ve inancın insanıdır. Kardeşi tarafından QNET ile tanıştırıldı ve hayatında beklenmedik bir dönüşüm yaşadı. Hayallerine ulaşmak için kararlılıkla dolarak, birkaç yıl sonra başarıyı yakaladı. Ona göre 'başarının sırları' diye bir şey yoktur. Olabildiğiniz en iyi kişi olmaya kendinizi adadıkça başarılı olacaksınız.
        <br/><br/> 
        Ekibi için hizmetkar-lider olan The Pathfinders, VP Adly; Sudan, Birleşik Arap Emirlikleri, Mısır, Kuzey Afrika ve Batı Afrika'da networkler oluşturdu. VP Adly, V-Malezya 2009'da V Partner olarak ilan edildi. V'nin önde gelen liderler kadrosuna eklenmesiyle, organizasyonu en üst seviyeye çıkarmak için yeni bir anlayış ve bilgelik sağlanmıştır.
      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ss-tr" nav-direction="forward">Sathi Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


