<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-cm.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Cherian Mathew</h1>
      </div>
      <p class="intro">
        "Le seul moyen de réussir est d'aider aussi les autres à réussir."
      </p>
      <p>
        Chaque fois que nous sommes invités à parler des moments inoubliables dans notre carrière, il est facile de mentionner les reconnaissances que nous avons reçues pour notre dur labeur, cependant le V Partner Cherian Mathew n’est pas du même avis.
        <br/><br/> 
        Les gens qui expriment de la gratitude pour avoir changé leur vie sont le genre de cas qui viennent compléter sa liste des moments inoubliables en tant que V Partner.
        <br/><br/>
        Il croit qu'il a réussi dans cette entreprise grâce à la cohérence, la concentration et son engagement vis-à-vis des réalisations de ses gens. “Il s'agit d'être cohérent pendant une longue période de temps et d'aider aussi les autres à réussir, ” a-t-il dit.
        <br/><br/>
        Il note les changements qu'il a observés au cours des années de travail entre le Moyen-Orient et l'Afrique. Il explique qu'à l'époque, QNET était le seul espoir disponible pour les gens ordinaires de changer leur vie, mais maintenant il y a beaucoup d'opportunités sur lesquelles il aimerait travailler afin de réussir.
        <br/><br/>
        “Travailler au Moyen-Orient vous oblige à changer vos habitudes et à vous adapter à l'environnement local. Ce qui fonctionne au Moyen-Orient, ne fonctionne pas en Afrique," explique-t-il. Il doit constamment tout ajuster le concernant y compris sa façon d’approcher un prospect et sa façon de faire une présentation.
        <br/><br/>
        Si les autres ont peur de l'idée du changement, le VP Cherian Mathew craint son contraire – RESTER LE MÊME. Ce n’est pas que le changement soit facile pour le leader vétéran qui est dans l'entreprise depuis 17 ans, mais pour lui, le changement est la seule option qu'il a, par conséquent, il doit l'embrasser. "Si je ne change pas la façon de faire mes affaires, je vais être laissé seul. Je dois créer le même succès que j'ai créé il y a plusieurs années," a-t-il dit. Pas de changement, pas de croissance.
        <br/><br/>
        Pour le VP Cherian Mathew, il n'y a pas de meilleur voyage que le marketing de réseau avec QNET. Tout d'abord parce qu'il s'agit de lui et de maintenir son succès. Deuxièmement, le fait de rencontrer de nouvelles personnes et d'aider la jeune génération à réussir l'inspire.
        <br/><br/>
        "Ça m’excite de continuer ce que je fais", dit le leader dont le fort est la région africaine.
        <br/><br/>
        Le VP Cherian Mathew veut être connu comme quelqu'un qui ne renonce jamais. "Je pense que je crois en une personne plus qu'elle ne croit en elle-même", a-t-il dit. Cette attitude de ne jamais renoncer est ce qui a préparé le VP Cherian Mathew à grandir et à être le top leader qu'il est aujourd'hui.
      </p>   
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ds-fr" nav-direction="forward">David Sharma<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


