<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dmq.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dr. Motaz Qais</h1>
      </div>
      <p class = "intro">En grandissant dans une famille de quatre frères et sœurs - chacun d'entre eux à dix ans d'écart – le V Partner Dr. Motaz Qais a eu une enfance vivante qui s'est rapidement transformée en un voyage de vie global: il a grandi à Damas, il a migré à Dubaï dans son adolescence, il a fini la dentisterie aux Philippines, puis a fait son master au Caire.
      </p>
      <p>
        En dépit de son incroyable travail acharné versé dans ses études, il a constaté que son revenu n'était pas celui de ses rêves. Il aspirait donc à des opportunités qui l'aideraient à être là où il voulait être financièrement et dans son mode de vie.
        <br/><br/>
        Comme un jeune enfant, le VP Dr. Motaz avait déjà réfléchi sur les inégalités du monde, car il était clair que tout le monde n'a pas eu les mêmes chances de réussir dans la vie. Il était donc ravi quand on lui a présenté le marketing de réseau, parce qu'il a découvert qu'une telle plate-forme existe là où seul le travail acharné est la mesure de jusqu’où une personne peut s’élever – ce n’est pas l'âge, le niveau d'instruction, la nationalité, le sexe ou même la race. Il a vu cela comme une chance unique dans la vie et s’est inscrit immédiatement!
        <br/><br/>
        Malheureusement, c'est à cette époque que l'information et le matériel n'étaient pas aussi accessibles qu’ils le sont aujourd'hui; En outre, beaucoup de marchés n’étaient pas encore développés à cette époque. Pour aggraver les choses, le marketing de réseau était souvent associé à des régimes de devenir riche rapidement ou des pratiques frauduleuses. Par conséquent, le VP Dr. Motaz a passé ses premiers mois dans l'entreprise à lire sur ce sujet et à être enseigné par son aimable parrain.
        <br/> <br/>
        Heureusement pour lui, notre V Founder Joseph Bismark a visité le Moyen-Orient, et le VP Dr. Motaz l’a personnellement rencontré. Un grand mentorat a commencé, et aujourd'hui, il continue d’admirer notre V Founder comme son grand parrain.
        <br/><br/>
        Pour le VP Dr. Motaz, sa plus grande réussite a été d'entrer dans l'entreprise, car ce moment l'a conduit à la liberté des grandeurs financières et mentales. Il se considère à 100% chanceux d'avoir les passionnés et dévoués V Founders Dato' Sri Vijay Eswaran et Joseph Bismark comme modèles et à 400% chanceux d’avoir rejoint cette journée fatidique.
        <br/><br/>
        Sa formule pour réussir dans le marketing de réseau est l'apprentissage plus la durabilité. Par conséquent, il exhorte chacun et chacune à toujours chercher de nouvelles connaissances. Il n'y a rien dans cette vie qui n'ait pas de solution, dit-il, c’est juste une question de, à quel point vous êtes prêt à travailler dur et rapidement pour la trouver. C'est toujours une bataille d'esprit contre la matière, et donc l'esprit peut être votre meilleur ami ou votre pire ennemi dans cette entreprise. Il croit que la loyauté et l'intégrité sont un mode de vie que nous pouvons appliquer non seulement dans l'entreprise du marketing de réseau, mais aussi dans la vie.
        <br/><br/>
        Lorsque le VP Dr. Motaz ne travaille pas dur, il cultive et récolte de sa propre ferme; Il jouit également de longues promenades tous les jours. Il envisage de posséder un yacht, de naviguer sur les eaux de la Méditerranée et de naviguer sur le cœur de son explorateur. Mais peu importe le lieu où il est ou ce qu'il fait, le VP Dr. Motaz est toujours l'homme pieux et fervent admirateur du Tout-Puissant, et il lui attribue tous ses succès.
      </p>
    <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>
      
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-kp-fr" nav-direction="forward">K Padma<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
