<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>دونا ماري امسون ليكاروز</h1>
      </div>
      <p class = "intro">شريكة الفي دونا ماري امسون ليكاروز هي أحد الأشخاص الذين يبرزون من بين الحشود ليس فقط بسبب جمالها الملفت للنظر ورقتها الهادئة، بل بسبب طريقتها الطبيعية في ابهاجنا. شريكة الفي دونا تحب الحياة ويتضح ذلك في الأدوار العديدة التي تلعبها: قوة واعية اجتماعياً في التسويق الشبكي، وريادة وإدارة الأعمال، ومتحدثة ذات تأثير، ومسافرة جريئة، وتلميذة الحياة، والأم المحبة، والأهم من لك كله الزوجة المخلصة.
        <br/><br/>
        كانت أحد أوائل شركاء الفي عندما أؤسس الفي عام 1998. منذ ذلك الحين، تطورت مع الشركة وشغلت العديد من الأدوار في مجموعة كيو أي كمديرة مؤسسة حتى تقاعدت منذ سنتين. مع نجحها الباهر في التسويق الشبكي، لا شك أن شريكة الفي دونا تعتبر من أعمدة الفي الأساسية.

        <br/><br/>
        تشارك الفشل والدروس المستفادة، والكفاح والنجاح التي عاشته خلال الـ 24 عاماً من العمل، شريكة الفي دونا دائماً ما تحصل على استقبال حافل من جمهورها في أي مكان في العالم. صورة من صور الأصالة والتمكين والنشاط، شريكة الفي دونا هي بمثابة مصدر الهام الألاف من الرجال والنساء في أسرة الفي المتنامية عبر العالم.

        <br/> <br/>
        هي تعتقد اعتقاداً راسخاً أن اليقظة، ونكران الذات، والقيادة الخادمة سوف تقود الفي لتحقيق رؤيته.
        <br/> <br/>
        حكمتها، وتوجيهها، ودعمها مضافة مع اسهامات شركاء الفي الاخرين الفردية، توجه وتحافظ على مهمة الفي في توفير الفرص للتغيير، النمو والتطور لأولئك الذين يبحثون عنها.

      </p>
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-rs-ar" nav-direction="forward">رانجيت سينج<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
