<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ft.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>فيردي تلنتينو</h1>
      </div>
      <p class="intro">
        كشاب له امكانيات لم تطرق بعد، كان لدى شريك الفي فيردي تلنتينو حلم بسيط جداً: وهو حياة سعيدة مستقرة لزوجته وعائلته. اليوم حياته ابعد ما تكون عن البسيطة، وثروته أبعد ما تكون عن العادية.
      </p>
      <p>
        إذاً ربما تتساءلون، ما الذي قاد الشاب فيردي تلنتينو ليولي ظهره لمسار وظيفي مزدهر متجهاً نحو التسويق الشبكي؟ يشرح شريك الفي فيردي أنه أدرك بسرعة أن التضخم والتكلفة العامة للمعيشة كانت متزايدة وبشكل متسارع، وبعائلة مكونة من 5 أفراد، كان عليه أن يبدأ في القيام بالأشياء بطريقة مختلفة إن أراد أن يعيش بدون ان يكون مثقلاً بحالة مالية عليلة. أشياء مثل الحصول على منزل للأسرة، وتأمين تعليم جيد لبناته الثلاث، دفعته إلى المغامرة بعمق في عمل التسويق متعدد الطبقات - وتلك هي الطريقة التي أصبح بها جزءاً من عائلة الفي.
        <br/><br/> 
        شريك الفي فيردي رجل سعيد، ويظهر ذلك في وجهه الذي دائماً تكسوه ابتسامة. إنه بكل جاهزية يتطوع بأنه مغمور بنعم هائلة منذ الايام التي أصبح فيها جزءاً من الفي. حيث انه عاد كوكيل مستقل قبل عدة أعوام ماضية وارتفع فوراً إلى مرتبة سفراء الفي خلال عامين من العمل الشاق والتفاني.

        <br/><br/>
        حين سؤل ما الذي يعتبره أكثر لحظاته تحدياً في ممارسة العمل، أجاب شريك الفي فيردي أنه كقائد، هو يشعر أنها مسؤوليته أن يجعل فريقه ناجحاً بشكل هائل. لكن، في الحقيقة، النجاح لا يمكن أن يكون عبر الحدود في كل الأوقات. في بعض الحالات، لن ينجح بعض أفراد الفريق، ويجب عليهم أن يتفرقوا. ذلك هو الجزء الأكثر حزناً.

        <br/><br/>
        من ناحية أخرى، تسميته شريكاً للفي، هو شيء يعتبره أكثر لحظاته فخراً. وبشكل عام كذلك، يقول إنه يشعر بالفخر كلما حقق مسوق شبكي أهدافه المالية.

        <br/><br/>
        الجوع العميق، الحماس والرغبة المشتعلة في النجاح هي العوامل الدافعة الرئيسية لشريك الفي فيردي. شخص روحي بشكل عميق، إنه يعزي كل نجاحه إلى مباركة الله. ويربط شريك الفي فيردي ذلك بأنه يستمد قوته من آية في الكتاب المقدس "يقول الرب، لأنني أعلم خططي لكم. خطط لإزدهاركم وليس لإزائكم، خطط لتمنحكم الأمل والمستقبل"
جيرميا 29:11 

        <br/><br/>
        من داخل الفي يتلقى نصحه في الغالب من صاحب رؤيتنا داتو سري فيجاي إشواران، ويقر باستخدامه شعار "افعلها الآن!" كأهزوجة يومية لتبقيه على أطراف قدميه كل يوم، بغض النظر عن المكان الذي قد يوجد فيه في العالم. 

        <br/><br/>
        ضمن فريقه، هو يولي اهتماماً خاصاً لتحصيل المعرفة عن العمل وسط أعضاء مجموعته. شريك الفي فيردي من أكبر المعجبين والمستخدمين لأسطوانات التدريب المدمجة للفي، والمجلات، والأدوات المشابهة الأخرى الصادرة عن طرف ثالث. أخيراً، هو يروج لكل الفعاليات التي ينظمها الفي كمورد لطريقة أكيدة للتعلم والتلميحات وحيل الصناعة.

        <br/><br/>
        بجانب ممارسة التسويق الشبكي يومياً وتغيير حياة الناس، إنه بشدة رجل عائلة يفضل قضاء ساعاته في الرياضات، ومشاهدة الأفلام او ببساطة التجول في المركز التجاري مع زوجته وبناته. متطلعاً إلى أمثال الأم تريزا، المهاتما غاندي، وكوري أكوينو، شريك الفي فيردي يقف قوياً في إيمانه بأن الشخص العادي يمكن، بالتأكيد، أن يفعل غير العادي!

      </p>  
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-cm-ar" nav-direction="forward">شريان ماثيو<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


