<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Kuna Senathirajah</h1>
      </div>
      <p class="intro">
        V Partneri Kunaseelan Senathirajah, güçlü bir networker olmadan önce Pazarlama ve Araştırma alanındaki güçlü geçmişi olan başarılı bir kurumsal yönetici olarak çalışıyordu. 2000 yılında V'ye katılmadan önce V Partneri Kuna, Jones Lang Wooton'da Araştırma Analisti olarak çalışıyordu.

      </p>
      <p>
        Üstün performansı, kendisine kısa sürede Ticari ve Finansal Kiralama Müdürü olarak haklı bir terfi kazandırdı. Yönetici olarak görevini, onu Petronas İkiz Kuleler, KL Sentral ve diğer büyük yatırım ve inşaat projeleri gibi Malezya’daki önemli projelerin üzerine koydu.
        <br/><br/> 
        Sonunda V'ye katıldığında, VP Kuna, Konferanslar ve Uluslararası Olaylar evrelemesinde yeni kavramlar ve yeni fikirler geliştirmekle görevlendirildi. Şirketle olan kariyerinin başlangıcında Malezya, Endonezya, Hindistan ve Orta Doğu'da etkinlikler düzenledi ve yönetti. Ayrıca, V Ambassadors olarak bilinen yeni nesil liderlere dönüşen Küresel Liderlik Forumu (GLF) oluşturma fikrini başlattı.
        <br/><br/>
        Bir V Ortağı olarak atanmasıyla Bay Kuna, uluslararası kalabalıklar öncesi eğitimler vermesinde zengin bir deneyim kazandırıyor; kullanılmayan ülkelerdeki gelişmekte olan pazarlar; Kurumsal ve giderek büyüyen küresel lider ağları arasındaki bağları güçlendiriyor ve tüm bunlar diğer 13 V Ortaklarıyla paylaştığı bir taahhüttür.

      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ps-tr" nav-direction="forward">Pathman Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


