<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-kp.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>K Padma</h1>
      </div>
      <p class="intro">
        Hindistan'da geleneksel bir tekstilçi olarak çalışıyorken, o iki çocuğun annesiydi ve yaşadığı yerden devam ederse hayallerini yaşama şansının az olduğunu gördü. QNET fırsatı sunulduğunda, bunun kendisi ve ailesi için başarmak istediği büyük atılım olabileceğini öğrenmekten dolayı memnundu.
      </p>
      <p>
        Başından beri, V Partner K Padma işini takdire şayan bir biçimde gerçekleştirdi ve V ve QNET'in en sadık networkerları arasında yerini aldı.
        <br/><br/> 
        İşi imzaladıktan sonra işin potansiyelini tamamen kavramamış olmasına rağmen, bitmek tükenmek bilmeyen özverisi ve desteği ile deneyimsizliğini telafi etti. "Karar verdim," dedi, "bunun sadece benim için değil, aynı zamanda bir sonraki nesil için de olduğunu" belirtti. 
        <br/><br/>
        Üç şeye inanıyor: Birincisi, başarısının sevgi, bağlılık, cesaret, iyimserlik ve asla vazgeçmeyen bir tutum temelinden kaynaklandığını; ikincisi, her zaman vaaz vermeden önce uygulama; ve üçüncüsü de, insanlar için bir arkadaş ve rol modeli olması, bu, bir organizasyonda insanların içindeki en iyiyi açığa çıkarmak için en önemli şeydir. 
        <br/><br/>
        Bu V Partneri, kendi annesinden ilham alır. Boş zamanlarında, Güney Hint klasik müziğini dinlemek, iç dekorasyon tutkusunu genişletmekten ve en önemlisi de ailesi ile kaliteli zaman geçirmekten hoşlanıyor. 
        <br/><br/>
        K Padma, V-Malezya 2015'te Penang'da V Partnerleri arasında yerini almıştır.
      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/newslanding-tr" nav-direction="forward">Haberler ve Güncellemeler<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


