<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Kuna Senathirajah</h1>
      </div>
      <p class="intro">V Partner Kunaseelan Senathirajah memulai sebagai corporate executive dengan latar belakang di Marketing and Research sebelum menjadi kelompok besar networker. Sebelum bergabung dengan The V pada tahun 2000, V Partner Kuna adalah Research Analyst di Jones Lang Wooton.
      </p>
      <p>
        Penampilan terbaiknya membuahkan hasil promosi sebagai Commercial and Leasing Manager hanya dalam waktu yang singkat. Perannya sebagai manajer membuat ia berada di posisi atas dalam proyek penting seperti Petronas Twin Towers, KL Sentral, dan proyek investasi dan konstruksi besar lainnya di Malaysia.
        <br/><br/> 
        Pada akhirnya ia bergabung dengan The V, VP Kuna ditugaskan untuk mengembangkan konsep baru dan ide segar dalam pementasan Conferences and International Events. Ia mengorganisir dan mengatur acara di Malaysia, Indonesia, India dan Timur Tengan – semuanya berjalan dengan sukses – pada awal karirnya di perusahaan. Ia juga mempunyai ide dalam pembentukan Global Leadership Forum (GLF), yang telah lama berkembang menjadi pemimpin generasi baru, yang dikenal dengan V Ambassadors.
        <br/><br/>
        Dengan pengangkatannya sebagai  V Partner, Mr. Kuna memberikan pengalaman yang kaya dalam melakukan pelatihan secara internasional; mengembangkan pasar di Negara yang belum dimanfaatkan; dan memperkuat ikatan antara Corporate dan para pemimpin global network yang berkembang, komitmen yang ia bagi dengan 13 V Partner lainnya.
      </p> 
        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

         
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ps-id" nav-direction="forward">Pathman Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


