<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-kp.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>K Padma</h1>
      </div>
      <p class="intro">
        Travaillant dans le textile traditionnel en Inde, c’était une mère de deux enfants et aurait eu peu de chance de vivre ses rêves si elle était restée là où elle était. Donc, lorsque l’opportunité de QNET s’est présentée à elle, elle était ravie de découvrir que cela pourrait être la grande opportunité qu'elle avait espérée pour réaliser ses rêves et ceux de sa famille.
      </p>
      <p>
        Dès le début, le V Partner K Padma a fait son métier de façon admirable et était parmi les plus loyaux des networkers de The V et QNET.
        <br/><br/> 
        Alors qu'elle n’a peut-être pas saisi tout le potentiel de l'entreprise lors de l’inscription, elle a compensé son inexpérience par son dévouement indéfectible et le soutien de ses parrains. “J'avais décidé,” dit-elle, “que ce n'était pas seulement pour moi, mais aussi pour ma prochaine génération.”
        <br/><br/>
        Elle croit en trois choses: un, que son succès a germé des fondements de l'amour, de l'engagement, du courage, de l'optimisme et de l’attitude de ne jamais-abandonner; Deux, à toujours pratiquer avant la prédication; Et trois, qu'être un ami et un modèle pour le peuple est la chose la plus importante dans une organisation afin de faire ressortir le meilleur chez les gens.
        <br/><br/>
        Ce V Partner s'inspire de sa propre mère. Pendant ses temps libres, elle aime écouter de la musique classique du Sud de l'Inde, élargir ses connaissances et sa passion pour la décoration intérieure et, surtout, passer du bon temps avec sa famille.
        <br/><br/>
        K Padma a officiellement rejoint les rangs des V Partners lors du V-Malaysia 2015 à Penang.
      </p>  

    <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>

    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/newslanding-fr" nav-direction="forward"> Nouvelles et mises à jour<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


