<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ss.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Sathi Senathirajah</h1>
      </div>
      <p class="intro">
        Hanya masalah waktu sebelum pemuda sigap VP Sathi tergabung di QNET setelah kakak laki-lakinya – yang tidak lain adalah Chief Pathman mengenalkannya pada awal tahun GoldQuest.
      </p>
      <p>
        Sebelum QNET, VP Sathi bekerja 9-5 pekerjaan tanpa akhir di perusahaan Electronic Engineering di Malaysia tanpa mimpi besar dan tidak ada kesempatan mendapat kebebasan financial. Dengan bersemangat, ia memutuskan bahwa QNET dapat menjadi pendobrak yang ia butuhkan dan akhirnya melakukan sesuatu untuk dirinya sendiri.
        <br/><br/> 
        Merupakan anak tengah dari keluarga yang saling menyayangi dan akrab dengan ibu dan 2 kakak laki-laki – VP Kunna dan V Managing Director Pathman – VP Sathi terkenal dengan caranya yang diam tapi signifikan. Selalu menjadi tempat yang penuh cinta dan penghiburan, keluarga Senathirajah selalu hangat seperti almarhumah ibunya Nyonya Pathmavathi Kandiah – dan masih banyak untuk dilihat lagi dalam kesuksesan dan hati anak laki-lakinya.
        <br/><br/>
        Pada saat ditanya tentang momen terberat yang pernah dihadapi selama di NET, ia mengatakan bahwa momen berat sangat banyak tapi yang paling menantang jelaslah menjada network pada tempatnya dan bergerak saat situasi krisis.
        <br/><br/>
        Walaupun VP Sathi bertalenta sukses, momen paling membanggakannya adalah pada saat ia diberi gelar V Partner pada tahun 2009. “Dan juga, setiap saya melihat cahaya di mata Ibu saya dan kehangatna di senyumnya, itulah saat yang terbayarkan – apalagi mengetahui ada saya dan saudara laki-laki saya juga di sana,” ingatnya.
        <br/><br/>
        VP Sathi menjelaskan ‘Konsistensi’ sebagai kunci suksesnya. Ia mengatakan ‘Dari pertama anda bangun dari pertama anda pergi tidur. Jangan makan, jangan tidur sampai anda mencapai tujuan anda.’
        <br/><br/>
        PAda waktu luangnya, VP Sathi gemar bermain poker dan bilyar atau hanya sekedar menghabiskan waktu di rumah.
        <br/><br/>
        Ia melihat ke Ibunya, yang penting dan paling utama, yang dikatakan sebagai ‘tujuan’ dari awal. VP Sathi juga mendapat inspirasi juga dari Nelson Mandela dan Sir Richard Branson.
      </p>  
        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

        
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ft-id" nav-direction="forward">Ferdie Tolentino<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


