<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ss.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>ساتي سيناثيراجا</h1>
      </div>
      <p class="intro">
        كانت مسألة وقت قبل أن ينضم الشاب النابض بالحيوية ساتي إلى كيونت بعد أن قام شقيقه الدائم الحماس التشيف باتمان سيناثيراجا بتعريفه بالعمل في السنوات الأولى لما كانت تعرف حينذاك بقولد كويست.
      </p>
      <p>
        قبل كيونت كان شريك الفي ساتي يعمل في وظيفة ذات طريق مسدود من الساعة 9-5 في شركة هندسة الكترونيات في ماليزيا بلا أحلام ضخمة وحرفياً بلا فرصة للحرية المالية. ومتلهفاً كالعادة، قرر أن كيونت من المحتمل أن تكون الانطلاقة الكبرى التي احتاجها كي ينجز أخيراً شيئاً لنفسه.
        <br/><br/>
        نشأته كطفل أوسط في عائلة محبة شديدة التماسك مكونة من أمه وشقيقيه - شريك الفي كونا، والمدير العام للفي باتمان -عرف شريك الفي ساتي بطرقه الصامتة والمؤثرة في نفس الوقت. كان بيت آل سيناثيراجا دوماً مكاناً للحب والسلوان مكاناً مرحباً حيث ضمنت أمه الراحلة السيدة باتمافاتي كانديان ذلك - وهناك الكثير من الشواهد التي تؤكد ذلك في نجاح وقلب أبنائها.
        <br/><br/>
        حين سئل عن أصعب اللحظات التي واجهها في كيونت حتى الآن، قال أن اللحظات الصعبة كثيرة بالتأكيد لكن بعض أصعب اللحظات تحدياً هي المحافظة على وإبقاء الشبكة على الأرض في وضع العمل خلال الأزمات.
        <br/><br/>
        بالرغم من أن شريك الفي ساتي فائق الانجاز بطبيعته، فإن اللحظة التي يفخر بها حتى الآن هي حين تمت تسميته شريكاً للفي عام 2009. "أيضاً، في كل مرة أرى فيها الضوء في عيني أمي والدفء في ابتسامتها، كانت هذه دوماً أكثر اللحظات المثمرة - خاصة بمعرفة أنني مع أشقائي قد وضعنا ذلك هناك"، يعلق مازحاً.
        <br/><br/>
       شريك الفي ساتي يعرف "الاستمرارية" بأنها مفتاحه للنجاح، يقول، "من الوقت الذي تصحون فيه حتى وقت نومكم، لا تأكلوا، لا تناموا حتى تحققوا أهدافكم".
        <br/><br/>
        في أوقات فراغه، يستمتع شريك الفي ساتي بمتع بسيطة مثل لعب جولات قليلة من البوكر أو البلياردو أو ببساطة قضاء وقت بالمنزل.
        <br/><br/>
        إنه يتطلع إلى أمه، أولاً وقبل كل شيء، التي يؤكد أنها كانت هي "غايته" منذ البداية. أيضاً يستقي شريك الفي ساتي الإلهام من أشخاص أمثال نيلسون مانديلا، والسير ريتشارد برانسون. 
      </p> 
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>     
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ft-ar" nav-direction="forward">فيردي تلنتينو<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


