<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Où rester à Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Un voyage à Penang peut vous exposer à des districts uniques qui expriment le charme de l'état insulaire de la Malaisie. Pendant votre séjour de cinq jours à Penang pour le V-Malaysia 2017, vous devez considérer la proximité de votre hôtel à SPICE Arena pour profiter au maximum de votre temps. Vous devez également rechercher votre hôtel pour éviter les frais de voyage inutiles et les tracas. Voici les meilleurs quartiers de Penang, où vous pouvez trouver les meilleurs hôtels:s</p>

      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Georgetown</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Georgetown-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-georgetown.htm</span>
          </div>
          
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Batu Ferringhi</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Batu-Ferringhi-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-batu-ferringhi.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Gurney Drive</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Gurney-Drive-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-gurney.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Tanjung Bungah</div>
            <div class="penang-desc"></div>
          </div>
          <div> 
            <img src="img/penang-Tanjung-Bungah-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/tanjung-bungah.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Bayan Lepas</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Bayan-Lepas-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/bayan-lepas.htm</span>
          </div>
      </div>
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-fr" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-fr" nav-direction="forward">marchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
