<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Where to stay in Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Berkeliling Penang membawa anda ke distrik unik yang menunjukkan pesona pulau Negara bagian Malaysia. Selama lima hari di Penang untuk V-Malaysia 2017, anda harus mempertimbangkan jarak dari hotel anda ke SPICE Arena untuk menghemat waktu anda. Anda juga perlu mngecek hotel anda untuk menghindari perngeluaran perjalanan tidak penting dan masalah lainnya. Inilah distrik teratas di Penang, di mana anda bisa menemukan hotel terbaik:</p>

      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Georgetown</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Georgetown-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-georgetown.htm</span>
          </div>
          
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Batu Ferringhi</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Batu-Ferringhi-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-batu-ferringhi.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Gurney Drive</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Gurney-Drive-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-gurney.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Tanjung Bungah</div>
            <div class="penang-desc"></div>
          </div>
          <div> 
            <img src="img/penang-Tanjung-Bungah-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/tanjung-bungah.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Bayan Lepas</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Bayan-Lepas-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/bayan-lepas.htm</span>
          </div>
      </div>
      
<div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-id" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-id" nav-direction="forward">Cinderamata<i class="ion-ios-arrow-right"></i></a>

  

  </ion-footer-bar>
</ion-view>
