<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Где остановиться в Пенанге</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Небольшое путешествие по Пенангу представит твоему обзору особый шарм уникальных уголков этого островного штата в Малайзии. При планировании пятидневной поездки в Пенанг на V-Малайзия 2017, необходимо учитывать расстояние от гостиницы до стадиона SPICE Arena, чтобы сэкономить как можно больше времени. Советуем заблаговременно навести справки об отеле, чтобы избежать лишних проблем и затрат. Предлагаем обратить внимание на топ-5 районов Пенанга, известных своими комфортабельными отелями:</p>

      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">1. Джорджтаун (Georgetown)</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Georgetown-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-georgetown.htm</span>
          </div>
          
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">2. Бату Ферринги (Batu Ferringhi)</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Batu-Ferringhi-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-batu-ferringhi.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">3. Гурней-Драйв (Gurney Drive)</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Gurney-Drive-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-gurney.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">4. Танджунг-Бунгах (Tanjung Bungah)</div>
            <div class="penang-desc"></div>
          </div>
          <div> 
            <img src="img/penang-Tanjung-Bungah-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/tanjung-bungah.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">5. Байан-Лепас (Bayan Lepas)
Перемещения по Пенангу
</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Bayan-Lepas-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/bayan-lepas.htm</span>
          </div>
      </div>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      ВЕРНУТЬСЯ НАВЕРХ
    </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ru" class="back" nav-direction="back">Пенанг 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ru" nav-direction="forward">Товары <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
