<ion-view id="why" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">

    </header>
    <article class="cusContent tr">
      <div class = "header-logo">
        <img src="img/vcon2017logo-NOSHADOW-500.png">
      </div>
      <h1>NEDEN ŞİMDİ YAPMALISINIZ</h1>
      <p class="headline">Zaman nihayet geldi!</p>
      <p>Her anı uyanık olarak yaşadıkça, zaman hayatımız ile iç içe geçmiş bir şeye dönüşür. Bunu nasıl
kullandığımız da bunun değerini tanımlar. Network pazarlamasında, zaman her zaman önemlidir.
İlişkileri inşa etme ve ilerleme arayışı içinde, hedeflerimize ulaştığımızdan emin olmaya hiç vakit
ayırmıyoruz. V değişen insan hayatını sürekli olarak yürüttüğü için, bu yılki V-Kongresi zamana dayalı bir
temayı üstlenir. V-Malezya 2017, "Şimdi Yap" sloganıyla, dünya çapında networkerların sınırsız olma
çağrısına uyum sağlamaları için birincil bir fırsat sunuyor.</p>
      <p>Saat mekanizması olarak modellenen #VCON17 logosu V-Con’un katılımcılarına sürekli gelişimi ön plana
çıkarmasıdır. Yüksek enerji ve tutkuyla V-Con’daki her hayalciye enerji verirken, logo bu özel
mekanizmanın network marketing’deki inanılmaz etkinliğini ortaya koyuyor. Modern yazı tipinin ışıklı
çerçeve olarak oluşturulması hayallerini gerçeğe dönüştürmek isteyen herkes için yüksek sesli ve gurur
verici bir davettir. Logo boyunca çizilen Net çelik işlemeler V-Con’dan maksimum fayda sağlamak isteyen
herkesin odak noktasını belirtir. V-Con’a binlerce networker’ın katılımını beklerken, logodaki dairesel
şekil de V’nin sürekli olarak büyüyen global ailesini temsil eder.</p>
      <p>Gökyüzünün ve denizin renkleri ile gölgelendirilmiş logodaki mavi, dünyanın herbir köşesine
ulaşacağımızı ve sınırsız fırsatları keşfedeceğimizi tanımlıyor. Aynı zamanda mavi, sadakat, güven,
bilgelik ve gücü temsil eder; V-Con’un sürekli olarak üzerine inşa edilen şeyleri temsil eder.
Düşüncesinde inatçı maviyi, bu yılın logosundaki ortak sevgi, tutkuyu temsil eden kırmızı tamamlarken,
bu yılın inanılmaz olacağını söylüyorlar. Kanımızın rengi kırmızı, logodaki kırmızı ton yaşadığımız, nefes
aldığımız ve içimizin sızısını—hayallerimizi tanımlıyor. Öyleyse, bunları gerçeğe dönüştürmek için ŞİMDİ
YAPIN.</p>
      <p class="got">Zamanınız var mı?
        <br>Açığa çıkacak bu belirleyici ana burada tanıklık
edin</p>
      <div class="videoCont">
        <iframe id="myframe" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" src="http://players.brightcove.net/3745659807001/default_default/index.html?videoId=5340625847001"></iframe>
      </div>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
     BAŞA DÖN
    </div>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Bilet al</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive tr">
    <a href="#/app/allabout-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/mark-tr" nav-direction="forward">V-Con İzini Oluştur<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
