<ion-view id="why" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">

    </header>
    <article class="cusContent">
      <div class = "header-logo">
        <img src="img/vcon2017logo-NOSHADOW-500.png">
      </div>
      <h1>لماذا افعلها الأن؟</h1>
      <p class="headline">الوقت أخيراً قد حان!</p>
      <p dir="RTL" style="text-align:right">
      بينما نعيش كل لحظة تمر، الوقت هو شيء حياتنا تتشابك معه عن قرب. كيف اعتدنا ان نعرّف قيمته. في التسويق الشبكي، الوقت دائماً من الجوهر. في الملاحقة لبناء العلاقات والتقدم، نحن لا ندخر دقيقة حتى نتأكد من اننا نحقق أهدافنا. وبينما الفي باستمرار يشارك في تغير حياة الناس، مؤتمر الفي لهذا العام يتخذ سمة قيادية زمنية. بعنوان رئيسي "أفعلها الأن"، في-ماليزيا 2017 يقدم فرصة ممتازة للمسوقين الشبكيين حول العالم ليكونوا متسقين مع النداء لأن يكونوا بلا حدود.
      </p>
      <p style="text-align:right">تم تصميمه على غرار تصميم تروس الساعة، شعار VCON17 # يعبر عن التقدم المتواصل الذي يركز الفي-كون على اشراك حضوره به. بالطاقة العالية والحماس المجهزان ليشعلوا كل حالم في الفي-كون، الشعار يكشف الألية الخاصة التي تمده بالطاقة ليكون حدث رائع في التسويق الشبكي. الخط الحديث المستخدم ووضع مثل إفريز مشع أصبح دعوة عالية ومفاخرة لأي أحد ممن يقدرون وقتهم ويحولون أحلامهم لواقع. الأعمال الفولاذية الدقيقة المحاكاة عبر الخطوط التي تضرب عبر الشعار تدل على التركيز المطلوب من أي أحد يتمنى ان يحصل على اقصى ما يقدمه الفي-كون. وبتوقع الألاف من المسوقين الشبكيين قادمون إلى الديار للفي-كون، الشعار يعتمد شكلاً دائرياً والذي يطوق أسرة الفي المتنامية دوماً.</p>
      <p style="text-align:right">مظللاً بألوان السماء والبحر، الشعار يكتسي بالأزرق ليعبر عن الزوايا التي لا حدود لها للعالم التي سنصلها لاستكشاف إمكانات لا محدودة. كما ان الأزرق يرمز للولاء، الثقة، الحكمة والقوة، الشعار يعبر عن كل الأشياء التي بُني عليها الفي-كون باستمرار. ليكمل الأزرق الطاغي، الأحمر سكب أيضاً في شعار هذا العام كانعكاس جماعي للحب، الحماس، والإثارة لجعل هذا العام لا شيء أقل من رائع. كلون دمائنا، طيف الأحمر في الشعار يجمع ما نعيش به، نتنفس به، وننزف له – أحلامنا. وليس هنالك لحظة أفضل لنحولها لواقع عدى ان نفعلها الأن.</p>
      <p class="got">هل لديك وقت؟
        <br>أشهد على هذه اللحظة الحاسمة تتكشف هنا</p>
      <div class="videoCont">
        <iframe id="myframe" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" src="http://players.brightcove.net/3745659807001/default_default/index.html?videoId=5340625847001"></iframe>
      </div>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">شراء تذكرة</a> 
    <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/allabout-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/mark-ar" nav-direction="forward">ضع علامتك للفي-كون<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
