<ion-view id="why" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">

    </header>
    <article class="cusContent">
      <div class = "header-logo">
        <img src="img/vcon2017logo-NOSHADOW-500.png">
      </div>
      <h1>POURQUOI LE FAIRE MAINTENANT</h1>
      <p class="headline">Le moment est enfin arrivé!</p>
      <p>Comme nous vivons chaque instant, le temps, c’est une chose avec laquelle nos vies sont étroitement liées. La façon dont nous l'utilisons définit sa valeur. Dans le marketing de réseau, le temps a toujours été essentiel. Dans la poursuite de l'établissement de relations et de progrès, nous n'épargnons aucune minute pour nous assurer d’atteindre nos objectifs. Alors que The V s'engage constamment à changer la vie des gens, la V-Convention de cette année adopte un thème temporel primordial. Comme titre ‘Do It Now’, le V-Malaysia 2017 présente une excellente occasion aux networkers du monde entier qui sont en phase avec l'appel à être sans limites. </p>
      <p>Le logo #VCON17, qui s'inspire du mécanisme, présente des progrès continus sur lesquels le V-Con se concentre pour mobiliser ses participants. Avec la grande énergie et la passion qui visent à alimenter chaque rêveur au V-Con, le logo révèle le mécanisme spécial qui l'anime à être un événement incroyable dans le marketing de réseau. La police moderne utilisée comme marquise rayonnante devient une invitation fière et forte à tous ceux qui valorisent leur temps et transforment leurs rêves en réalité. La partie métallique précise qui est imitée par les lignes qui frappent à travers le logo signifie l'objectif qui est exigé de toute personne qui souhaite profiter au maximum du V-Con. En attendant les milliers de networkers à la maison au V-Con, le logo adopte une forme circulaire car il embrasse la famille mondiale sans cesse croissante de The V.</p>
      <p>Ombré de couleurs du ciel et de la mer, le logo est bleu pour signifier les coins sans limites du monde que nous allons atteindre et explorer pour des possibilités sans limites. Comme le bleu symbolise également la loyauté, la confiance, la sagesse et la force, le logo représente toutes les choses sur lesquelles le V-Con s’appuie constamment. Pour compléter le bleu volontaire, le rouge est également utilisé dans le logo de cette année comme reflet de notre amour collectif, notre passion et notre excitation à faire de cette année une année incroyable. Comme la couleur de notre sang, la teinte rouge du logo rassemble ce pour quoi nous vivons, respirons et saignons - nos rêves. Et il n'y a pas de meilleur moment de les transformer en réalité que de LE FAIRE MAINTENANT.</p>
      <p class="got">Vous avez le temps?
        <br> Témoignez de ce moment décisif qui se déroule ici</p>
      <div class="videoCont">
        <iframe id="myframe" style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;" src="http://players.brightcove.net/3745659807001/default_default/index.html?videoId=5340625847001"></iframe>
      </div>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">ACHETER UN BILLET</a>
        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/allabout-fr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/mark-fr" nav-direction="forward">Faites votre marque V-Con<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
