<ion-view id="contact" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid"></header>
    <article class="cusContent">
      <h2>اتصل بنا</h2>
      <p class="headline">إن كان لديك مشكلة في الوصول لموقعنا، أو لديك مزيد من الأسئلة غير الموجودة في صفحة الأسئلة الشائعة، الرجاء التواصل معنا عبر عناوين البريد الإلكتروني التالية.</p>
      <p class="med">الدعم الفني: 
        <br><a href="mailto:vbox@the-v.net" target="_top" class= "email">vbox@the-v.net</a>
      </p>
      <p class="med">المحتوى وما يخص الترجمة:
        <br><a href="mailto:vijiyar.vcomm@the-v.net" target="_top" class= "email">vcomm@the-v.net</a>
      </p>
      <p>للاستفسارات:
        <br>السيد. فيجايار ثيفان
        <br><a href="mailto:vijiyar.thevan@the-v.net" target="_top" class= "email">vijiyar.thevan@the-v.net</a>
        <br>3793 2209 601+
        <br>
        <br>
        <br>السيدة. كوري سوبرامانيام
        <br><a href="mailto:kauri.s@the-v.net" target="_top" class= "email">kauri.s@the-v.net</a>
        <br>  8299 7965 603+

      </p>
      <p>أبدى اعجابك. تابع. شارك. عبر بصخب. VCON17 #</p>
      <p class="follow">
        <a href="#" onclick="window.open('https://www.facebook.com/TheV.official/', '_system', 'location=yes'); return false;"><i class="ion-social-facebook"></i></a>
            <a href="#" onclick="window.open('https://twitter.com/thev_official', '_system', 'location=yes'); return false;"><i class="ion-social-twitter"></i></a>
            <a href="#" onclick="window.open('https://www.instagram.com/thev_official/', '_system', 'location=yes'); return false;"><i class="ion-social-instagram"></i></a>
            <a href="#" onclick="window.open('https://www.snapchat.com/add/thevofficial', '_system', 'location=yes'); return false;"><i class="ion-social-snapchat"></i></a>
        </p>
      </p>
    </article>

  </ion-content>
</ion-view>




     