<ion-view id="faq" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>FAQs</h1>
    </header>
    <article class="cusContent">
<!--       <p class="question">Comment puis-je acheter un billet?</p>
      <p class="answer">Cliquez ici pour acheter votre billet V-Malaysia 2017.</p>
      <a class="button buyticket orange" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">Buy Ticket</a> -->
      
      <!-- <p class="question">Quelles sont les modalités de paiement disponibles?</p>
      <p class="answer">Actuellement, vous pouvez payer en espèces ou par carte de crédit (Visa et MasterCard).</p> -->

      <p class="question">Qu’est-ce qu’il faut apporter?</p>
      <p class="answer">Vous allez au V-Con? Voici les 5 choses importantes que vous devez apporter :
        <br><br/>1. Lors de l'inscription, apportez une (1) pièce d'identité valide et une copie de la lettre de confirmation qui vous sera envoyée par courriel juste après l'achat de votre billet.
        <br><br/>2. Ayez suffisamment d'argent de poche pour 5 jours, que vous pouvez dépenser pour la nourriture, la boisson, le transport, les marchandises V-Con, les souvenirs, etc.
        <br><br/>3. Ayez de bons vêtements pour 5 jours. Assurez-vous d'apporter des chemises ou des serviettes supplémentaires.
        <br><br/>4. Venez aussi avec un téléphone mobile pour vous assurer de rester en contact avec votre équipe et vos proches. N'oubliez pas d'apporter également un powerbank pour vous assurer de pouvoir recharger votre téléphone et autres gadgets à tout moment.
        <br><br/>5. Prenez un appareil photo avec vous pour faire durer vos précieux souvenirs du V-Con, et ayez quelque chose que vous pourrez montrer à votre famille et vos futurs prospects quand vous retournerez chez vous.
      </p>

<!--       <p class="question">Y aura-t-il des billets à vendre le jour même de l'événement?</p>
      <p class="answer">Oui. Seules les transactions effectuées en espèces et par carte de crédit seront acceptées.</p> -->

      <p class="question">Y aura-t-il des billets pour une seule journée d'événements?</p>
      <p class="answer">Non. Le programme de 5 jours que nous avons préparé pour vous est une chose qui doit être suivie du 1er au 5e jour afin d’avoir une expérience complète qui change la vie. Il s'agit d'un événement complet et holistique avec une gamme d'activités pleines d'actions qui sont très essentielles pour votre entreprise.</p>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise-fr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/contact-fr" nav-direction="forward">Contact <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
