<ion-view id="news" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>NEWS</h1>
    </header>
    <article class="cusContent newsinside">
      <h3>News Title</h3>
      <div class="date">Oct 4, 2016</div>
      <div class="insideCont">
        <img src="http://placehold.it/500x500">
        <p>While cheers of pride and excellence surround the place with every medal won, what is more astounding are the inspiring stories of how the athletes conquered every challenge just to make it to the Olympics. As networkers, we can learn a whole
          lot from these athletes, who paid the price for the victories they have long dreamed about. Here are six outstanding stories that show us how to PROVE THEM WRONG. </p>

        <p>While cheers of pride and excellence surround the place with every medal won, what is more astounding are the inspiring stories of how the athletes conquered every challenge just to make it to the Olympics. As networkers, we can learn a whole
          lot from these athletes, who paid the price for the victories they have long dreamed about. Here are six outstanding stories that show us how to PROVE THEM WRONG. </p>
      </div>
    </article>
<div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>



  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/merchandise" nav-direction="forward">merchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
