<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Penang 101</h1>
    </header>
    <article class="cusContent">

      <p class="headline tr">Malezya'nın ada eyaletine ilk kez mi geliyorsunuz? Burada, nerede kalınması, ne yapılması ve Penang'la
nasıl başlanacağı konusunda yararlı bazı hızlı bağlantılar var!</p>
      <div class="menus">
        <a href="#/app/whereto-tr">Penang’da Nerede Kalınır</a>
        <a href="#/app/howto-tr">Penang’da Nasıl Gezilir</a>
        <a href="#/app/whatto-tr">Penang’da Neler Yapılır</a>
      </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/newslanding-tr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-tr" nav-direction="forward">Ürünler<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
