<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid">
      <h1>Get to know<br> <span class="txt50">The Speakers</span></h1>
    </header>
    <article class="cusContent">

      <div class="row">
        <a href="#/app/vmp-dato" nav-direction="forward" class="col col-50">
          <img src="img/m-vf-dsve.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Founder</div>
          <div class="name">Dato’ Sri Vijay Eswaran </div>
        </a>
        <a href="#/app/vfp-jtb" nav-direction="forward" class="col col-50">
          <img src="img/m-vf-jtb.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Founder</div>
          <div class="name">Joseph Bismark</div>
        </a>
      </div>

      <div class="row">
        <a href="#/app/vp-tg" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
            <div class="name light-blue">V Partner</div>
            <div class="name">TG Kintanar</div>
        </a>
        <a href="#/app/vp-dil" nav-direction="forward" class="col col-33">    
            <img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
            <div class="name light-blue">V Partner</div>
            <div class="name">Donna Marie Imson-Lecaroz</div>
        </a>
        <a href="#/app/vp-rs" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
             <div class="name light-blue">V Partner</div>
             <div class="name">Ranjit Singh</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-ks" nav-direction="forward" class="col col-33">
            <img src="img/m-vp-ks.png" width="100%" height="auto" class="center ">
            <div class="name light-blue">V Partner</div>
            <div class="name">Kuna Senathirajah</div>
        </a>
        <a href="#/app/vp-ps" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Pathman Senathirajah</div>
        </a>
        <a href="#/app/vp-ag" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Arun George</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-ah" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Adly Hassan</div>
        </a>
        <a href="#/app/vp-ss" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ss.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Sathi Senathirajah</div>
        </a>
        <a href="#/app/vp-ft" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ft.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Ferdie Tolentino</div>
        </a>
      </div>
      <div class="row">
        <a href="#/app/vp-cm" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-cm.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Cherian Matthew</div>
        </a>
        <a href="#/app/vp-ds" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-ds.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">David Sharma</div>
        </a>
        <a href="#/app/vp-mk" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-mk.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Mahendra Kumar</div>
        </a>
      </div>
          <div class="row">
        <a href="#/app/vp-dmq" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-dmq.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">Dr. Motaz Qais</div>
        </a>
        <a href="#/app/vp-kp" nav-direction="forward" class="col col-33">
          <img src="img/m-vp-kp.png" width="100%" height="auto" class="center ">
          <div class="name light-blue">V Partner</div>
          <div class="name">K Padma</div>
        </a>
      </div>


      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>


    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/downloads" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/newslanding" nav-direction="forward">News and Updates<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
