<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vf-jtb.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Founder</h2>
        <h1>Joseph Bismark</h1>
      </div>
      <p class="intro">V Founder, Joseph Bismark adalah pemimpin ribuan calon entrepreneur. Ia dikenal dengan disiplin spiritual dan pengalamannya dalam bidang bela diri.”
      </p>
      <p>
        The V mewariskannya tempat yang special dalam hati network yang jumlahnya sekarang mencapai lebih dari jutaan. Pria dengan watak yang beragam, Mr. Bismark dianggap sebagai tenaga penyeimbang yang kuat bagi The V.
        <br/>      
        <br/> 
        Mr. Bismark pergi meninggalkan rumah pada usia sembilan tahun dan tinggal di ashram di pegunungan di Filipina hingga usia 17 tahun dimana ia tumbuh tanpa listrik, pemanas atau fasilitas modern lainnya. V Founder kita juga dikenal sebagai instruktur yoga dan Dan Tiga dalam Taekwondo.
        <br/>      
        <br/>
        Latar belakang spiritual dan kualitas kepemimpinan yang halus dari Mr. Bismark telah memberikannya kekuatan untuk mengelola banyak peran di dalam grupnya. Jalan masuk ke dalam dunia bisnis terbuka pada saat ia bekerja sebagai instruktur bela diri di universitas ternama di Filipina. Disitulah ia diperkenalkan dengan Dato’ Sri Vijay Eswaran, V Founder. Mereka berbagi kesamaan tentang Vedic Philosophy dan spiritual yang terbentuk hingga sekarang menjadi bisnis global.
        <br/>      
        <br/>
        Mr. Bismark memainkan peran penting di dalam perusahaan, tidak hanya membangun hubungan bisnis tapi dengan membangun hubungan pertemanan yang tulus dengan pelanggan dan kolega. Kepentingan dan keputusan diarahkan oleh keinginannya untuk membantu orang lain tanpa memperhatikan tingkat ekonomi, sosial dan latar belakang suku. Kesuksesannya tidak dibangun berdasarkan pencapaian materi tapi dengan kepuasan batin dan ketenteraman dicapai dengan menerjemahkan pelayanan yang berarti untuk orang lain dan melalui pertumbuhan spiritual.
        <br/>      
        <br/>
        Di bulan Juni 2010, ia menambahkan “penulis” dalam daftar mengesankanny dengan menerbitkan buku pertamanya, The Gem Collection: A compilation of Wisdom pada saat V-Malaysia 2010.
        <br/>      
        <br/>
        Pada saar tidak bepergian keliling dunia untuk melihat variasi pekerjaan grup, Mr. Bismark tinggal bersama keluarganya di Singapura.
      </p>      

  <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

    

    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-tg-id" nav-direction="forward">TG Kintanar<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


