<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Arun George</h1>
      </div>
      <p class="intro">Bazen, çimlerin başka yerlerde daha yeşil ve daha tatmin edici olduğunu anlamanız için rahatlık bölgelerinizin sarsılması gerekiyor. V Partner Arun George için, 23 yaşında zaten Unilever'de başarılıyken onu şirket dünyasının ötesine taşıyacak QNET iş sunumunu aldı.
      </p>
      <p>
        2000 yılına kadar, tam zamanlı olarak networke geçti; 2002'de Orta Doğu, Afrika ve Asya pazarlarını hızla almak için Titans'ı yıldızlarla süslü diğer oyuncularla kurdu. Yeni bir networker olarak ve şimdi V Ailesinde küresel bir rehber olarak en büyük meydan okuması aynıdır: "insanların kendi potansiyellerini belirlemelerine ve insanların işi kabul etmelerine yardımcı olmaya" devam ediyor. 
        <br/><br/> 
        Onu, network pazarlamasıyla, özellikle ekipleriyle, hedeflerine ulaşmalarına yardımcı olmak için insanlarla çalışmaya zorluyor. Dıştan gelen yanlış anlamalar ve çatışmalar nedeniyle, sektörün fırsatları her zaman memnuniyetle karşılanmaz. Bununla birlikte, duygu da elde edildiğinde de en tatlısı budur: "Zorlukların üstesinden gelip, insanların sonuç elde etmelerine, takım oluşturmalarına, potansiyellerini gerçekleştirmelerine ve ilerlemelerine her zaman yardım edeceğiz - en büyük başarı, bir EKİP olarak birlikte ulaşabileceğimiz dünyayı kapsayan başarıdır. 
        <br/><br/>
        "V-Uganda 2008'den bu yana V Partner’lerinin saflarına yükselmiş olabilir, ancak eseri bitmedi. Şimdi, deneyim ve ödüllerini daha fazla insanla paylaşmaya her zamankinden daha fazla gayret ediyor. Hepsinden önemlisi: " insanların şans ya da başka şeylere dayanarak değil, profesyonel bir iş olduğunun farkına varmalarına yardımcı olmak [isterim]. Ancak, birçok başka işletme gibi geleneksel bir formülü takip ederseniz, tutarlı olduğunuz sürece aslında bu çok öngörülebilir bir durumdur "dedi. 
        <br/><br/>
        Arun George için, iş dünyasında hiçbir sihirli püf noktası yoktur. "Çaba sarf etmek - en çok da bu önemlidir" ve eğer onun izlerini takip ederseniz, başarınız size yetişecektir
      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ah-tr" nav-direction="forward">Adly Hassan<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


