<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ah.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Adly Hassan</h1>
      </div>
      <p>
        Le VP Adly est un homme de rêve et de conviction. Il a été introduit à QNET par son frère, et sa vie a pris un tournant inattendu. Plein de détermination pour réaliser ses rêves, il a connu du succès juste après quelques années. Pour lui, il n'existe pas de ‘secrets pour réussir’. Vous réussirez tant que vous êtes dédié à être la meilleure personne possible.
        <br/><br/> 
        Éminent leader-serviteur de son équipe, The Pathfinders, le VP Adly a construit des réseaux au Soudan, aux EAU, en Egypte, en Afrique du Nord et en Afrique de l'Ouest.
        <br/><br/>
        Le VP Adly a été annoncé en tant que V Partner au cours du V-Malaysia 2009. Son ajout à la liste des leaders d'élite de The V lui a donné une nouvelle perspicacité et sagesse d’emmener l'organisation au sommet.
      </p>  
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ss-fr" nav-direction="forward">Sathi Senathirajah<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


