<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Arun George</h1>
      </div>
      <p class="intro">Иногда вы должны быть вытряхнуты из зоны вашего комфорта, чтобы понять, что трава намного зеленее и выше совсем в другом месте. Для V Partner Arun George понадобилась одна бизнес-презентация QNET, чтобы вытряхнуть его из того корпоративного мира в компании Unilever, где он работал. На тот момент ему было всего 23 года.
      </p>
      <p>
        В 2000-м году он стал посвящать нетворкингу всё своё время. В 2002-м он сформировал команду Titans, в состав которой вошли звёздные сетевики, нацеленные на то, чтобы взять штурмом Ближний Восток, африканские и азиатские рынки. Тогда он был неоперившимся нетворкером, а теперь он настоящий ментор в глобальной в семье The V, однако самая главная его задача остаётся неизменной: “помочь людям людям осознать их собственный потенциал и поверить в возможности этого бизнеса”.
        <br/><br/> 
        Для достижения этой цели он постоянно работает с людьми, помогая им достичь их целей через сетевой маркетинг, особенно это касается работы с командами. Ввиду наличия искажённых представлений и конфликтов извне, эта индустрия не всегда получает одобрение, несмотря на все её возможности. Однако самое радостное чувство появляется тогда, когда достигнута поставленная цель: “Каждый раз, когда мы преодолеваем эти проблемы и помогаем людям и командам добиться результатов и реализовать потенциал - это самое большое достижение, которое мы можем достигнуть вместе как глобальная КОМАНДА всемирного масштаба".
        <br/><br/>
        Он получил статус V Partners на V-Уганда 2008, но его деятельность далека от финиша. Теперь, как никогда раньше, он стремится меняться опытом и знаниями с как можно большим количеством людей. Самое главное для него: “Больше всего я хочу помочь людям понять, что это - профессиональный бизнес, и дело здесь не в удаче и тому подобном. Но если вы следуете традиционной формуле, как многие другие компании, то всё это очень предсказуемо, пока вы последовательны”.  
        <br/><br/>
        По мнению Arun George, в этом бизнесе нет никаких магических приёмов. “Огромное трудолюбие - вот что важнее всего”. И, если вы пойдёте по его следам, то успех вам обеспечен.
      </p>   
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      ВЕРНУТЬСЯ НАВЕРХ
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ru" class="back" nav-direction="back">Спикеры<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ah-ru" nav-direction="forward">Adly Hassan<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


