<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-cm.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Cherian Mathew</h1>
      </div>
      <p class="intro">
        “Satu-satunya cara untuk sukses adalah dengan membantu orang lain menjadi sukses.”
      </p>
      <p>
        Kapanpun kita ditanyakan untuk memberikan momen tak terlupakan dalam karir kita, mudah untuk menyebutkan pengakuan yang didapat atas kerja keras, bagaimanapun juga V Partner Cherian Mathew memohon untuk hal yang beda.
        <br/><br/> 
        Orang mengekspresikan rasa syukur untuk merubah hidup mereka merupakan contoh yang masuk ke dalam daftar momen tak terlupakan sebagai V Partner.
        <br/><br/>
        Ia percaya bahwa ia sukses di dalam bisnis ini karena konsistensi, fokud, dan komitmen terhadap prestasi orang lain. “Ini tentang konsisten jangka panjang, dan membantu orang lain meraih sukses juga,” katanya.
        <br/><br/>
        Ia menekankan pada perubahan bahwa ia telah memperhatikan bertahun-tahun bekerja antara di Timur Tengah dan Afrika. Ia menjelaskan bahwa dulu, QNET hanya satu-satunya harapan yang tersedia bagi orang biasa untuk mengubah hidup mereka, tapi sekarang banyak kesempatan untuk bekerja dan menjadi sukses.
        <br/><br/>
        “Bekerja di Timur Tengah memerlukan anda merubah jalan, dan beradaptasi dengan lingkungan sekitar. Apa yang berhasil di Timur Tengah, tidak berhasil di Afrika,” katanya. Ia harus terus menyesuaikan semuanya tentang ia termasuk bagaimana mendekati prospek, dan bagaimana ia melakukan presentasi.
        <br/><br/>
        Jika orang lain takut ide akan perubahan, VP Cherian Mathew takut akan kebalikannya – TETAP SAMA. Bukannya perubahan itu gampang untuk pemimpin veteran yang telah ada di bisnis selama 17 tahun, tapi baginya, perubahan adalah satu-satunya cara yang ia miliki, sebab itu ia harus mendekatinya. “Jika saya tidak merubah cara bisnis saya, saya akan sendirian. Saya harus menciptakan kesuksesan yang sama yang saya ciptakan bertahun-tahun lalu,” katanya. Tidak ada perubahan, tidak ada pertumbuhan.
        <br/><br/>
        Bagi VP Cherian Mathew tidak ada perjalanan yang lebih baik dibandingkan network marketing bersama QNET. Pertama karena ini tentang dirinya dan menjaga kesuksesannya. Kedua adalah bahwa bertemu orang baru dan membantu generasi muda menjadi sukses menginspirasinya.
        <br/><br/>
        “Ini membuat saya bersemangat untuk melanjutkan apa yang sedang saya lakukan,” kata pemimpin yang ahli di wilayah Afrika.
        <br/><br/>
        VP Cherian Mathew ingin dikenal sebagai sosok yang tidak pernah menyerah. “Saya pikir bahwa saya lebih percaya kepada seseorang dibandingkan ia percaya pada dirinya sendiri,” katanya. Sikap pantang menyerah ini disiapkan dari awal oleh VP Cherian Mathew untuk tumbuh menjadi pemimpin top seperti sekarang ini.

      </p>    

  <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

    

    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ds-id" nav-direction="forward">David Sharma<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


