<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dil.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Donna Marie Imson-Lecaroz</h1>
      </div>
      <p class = "intro">Le V Partner Donna Marie Imson-Lecaroz est une de ces personnes qui se démarquent naturellement de la foule non seulement à cause de leur beauté éclatante et de leur certaine grâce tranquille, mais aussi parce qu'elles exsudent naturellement la joie de vivre. Le VP Donna aime la vie et ça se voit dans les nombreux rôles qu'elle joue : consciente de ses responsabilités sociales dans le marketing de réseau, l'entrepreneuriat et la gestion d'entreprise, oratrice influente, voyageuse intrépide, étudiante de la vie, mère aimante, et surtout, épouse dévouée.
        <br/><br/>
        Elle a été l'un des partenaires pionniers lors de la création de The V en 1998. Depuis, elle a évolué avec l'entreprise et a occupé divers postes au sein du groupe QI en tant que directrice fondatrice jusqu'à sa retraite il y a deux ans. Avec son succès incroyable dans le marketing de réseau, il n'est pas étonnant que le VP Donna compte parmi les principaux piliers de The V.
        <br/><br/>
        En partageant les échecs et les enseignements, les difficultés et les succès qu'elle a connu au cours des 24 ans dans l’entreprise, le VP Donna reçoit toujours un accueil enthousiaste de son public partout dans le monde. Image d'authenticité, d'autonomie et de vitalité, le VP Donna est une inspiration pour des milliers d'hommes et de femmes dans la famille sans cesse croissante de The V à travers le monde.
        <br/> <br/>
        Elle croit fermement que la pleine conscience, l'abnégation et le leadership serviteur conduiront The V à la réalisation de sa vision.
        Sa sagesse, son orientation et son soutien combinés aux attributs individuels des autres V Partners, guident et soutiennent la mission de The V qui est de fournir des opportunités de changement, de croissance et de développement à ceux qui les recherchent.

      </p>

          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-rs-fr" nav-direction="forward">Ranjit Singh<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
