<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-dmq.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dr. Motaz Qais</h1>
      </div>
      <p class = "intro">Growing up in a family of four siblings — each of them ten years apart — V Partner Dr. Motaz Qais had a lively childhood, which soon developed into a global life journey: grew up in Damascus, migrated to Dubai in his teens, finished Dentistry in the Philippines, and then studied his Masters in Cairo.
      </p>
      <p>
        In spite of his incredible hard work poured in his studies, he found that his income was not what his dreams were made of. So he yearned for opportunities that would help him get to where he wanted to be, financially and in lifestyle.
        <br/><br/>
        As a young child, VP Dr. Motaz already reflected on the inequalities of the world, as it became clear that not everyone was given equal chances to succeed in life. And so he was delighted when he was introduced to network marketing, because he discovered that such a platform exists where only hard work is the measure in how far a person can rise up — not age, not educational attainment, nationality, gender, or even race. He saw this as a once-in-a-lifetime chance and immediately signed up!
        <br/><br/>
        Unfortunately, it was that time when information and materials were not as accessible as they are today; furthermore, not as many markets were already developed then. To make matters worse, network marketing was often associated with get-rich-quick schemes or fraudulent practices. Therefore, VP Dr. Motaz spent his first months into the business reading about it, and being taught by his kind upline.
        <br/> <br/>
        Luckily for him, our V Founder Joseph Bismark visited the Middle East, and VP Dr. Motaz got to personally meet him. A great mentorship began, and today, he continues to look up to our V Founder as his Great Upline.
        <br/><br/>
        For VP Dr. Motaz, his greatest achievement was entering the business, because that moment led him to freedom of financial and mental magnitudes. He considers himself 100% lucky to have passionate, dedicated V Founders Dato’ Sri Vijay Eswaran and Joseph Bismark as his role models, and 400% lucky for having joined on that fateful day.
        <br/><br/>
        His formula for success in network marketing is Learning plus Sustainability. Therefore, he urges each and everyone to always seek new knowledge. There is nothing in this life that has no solution, he says, it is just a matter of how hard and fast you are willing to work to find it. It is always a battle of mind over matter, and so the mind can be your best friend or your worst enemy in this business. He believes that loyalty and integrity is a lifestyle, which we can apply not only in the business of network marketing, but also in life. 
        <br/><br/>
        When VP Dr. Motaz is not hard at work, he cultivates and harvests from his own farm; he also enjoys long walks every day. He plans to own a yacht, to sail the waters of the Mediterranean and sail his explorer’s heart. But no matter where he is or what he does, VP Dr. Motaz is ever the pious man and staunch devotee of The Almighty, and he attributes all his successes to Him.
      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-kp" nav-direction="forward">K Padma<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
