<ion-view id="speakers" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-mk.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>ماهيندرا كومار</h1>
      </div>
      <p class="intro">
        "بعد 9 أعوام طويلة من العمل في شركة ناجحة ضخمة متعدية الجنسيات في البحرين، ظل شريك الفي ماهيندرا كومار غير راض عن حياته، ولذلك بحث عن فرصة لبدء عمل خاص به. وكما هو معتاد، تسبب اجتماع الخوف والشك الذي يصاحب بدء عمل جديد في تعتيم قراره" 
      </p>
      <p>
        لكن كما هو شان القدر، عرضت عليه فرصة كيونت في العام 2000 من صديق مقرب في دبي. لديه معرفة قليلة أقرب للصفر عن التسويق الشبكي، قام ماهيندرا بوثبة الايمان.
        <br/><br/>
        لحسن الحظ، فهم سريعاً آلية كيونت والفي حين أجرى مؤسس الفي جوزيف بسمارك تدريباً في البحرين في نفس ذلك العام. متأثراً باقتناعه، شعر ماهيندرا أخيراً أنه قد عثر على ندائه، تحت شعار RYTHM (استنهض نفسك لمساعدة البشرية). قرر ان يعمل يداً بيد مع الفي من أجل بناء أسواق جديدة ورعاية الاسواق الموجود بكل ارجاء العالم. 
        <br/><br/> 
        بالرغم من أنه كان مستقراً بارتياح في الشرق الأوسط، كان هدفه النهائي منذ البداية أن يبني بيتاً جيداً لعائلته في أرض الوطن "الهند". وبالتزامن مع ذلك، التزم ببناء شبكة قوبة هناك. بالنسبة له كانت أكثر تجربة تحدياً حتى الآن هي سوء الفهم المتباين والعقبات ضد التسويق الشبكي في أجزاء مختلفة من العالم. في العادة يكون ذلك مثبطاً للهمة، لكن بالنسبة له، هذه الصعوبات لا مفر منها وستزول قريباً: مع العمل الجاد، ربما ينتج عنها نتائج مثمرة لا نهائية!

        <br/><br/>
        الآن، اللحظة التي يعتبرها أكثر انجازاته فخراً هي حين غادر أخيراً وضعه كموظف لـ 13 عام ليصبح وكيلاً مستقلاً بدوام كامل مع وجود الوسائل لدعم أسرته، ولا يزل لديه الوقت ليعيش حياته الخاصة.

        <br/><br/>
        بالنسبة لماهيندرا، هو استحق النجاح ببساطة بإبقاء هدفه محل ناظريه، واستحق حريته المالية بإرادته التي لا تتزعزع وروحه التي لا تهدأ – وأيضاً الاستعداد للتعلم من كل تجربة. تم تدعيم هذه الصفات بفعاليات الفي؛ التي ساعدته على إبقاء النار متقدة ومنعته من ان يتخذ وضع التوقف مطلقاً!
        <br/><br/>
        أحدث شريك للفي لدينا يعيش بالشعار التالي، "إن ساعدت الآخرين في عبور النهر، فأنا سأعبر النهر، أيضاً، في هذه العملية". بالنسبة له، الجميع ولدوا متساويين؛ وحدها الظروف والمبادرات هي التي تفرقنا. لذلك، إن كان بإمكان شخص ما أن يفعلها وقد فعلها، فهو مؤمن بنسبة 100% أنه سيتمكن هو من ذلك، أيضاً! إن امتنانه لا نهاية له لمؤسسينا في الفي بسبب هذا العمل، الذي حول نكرة إلى شخص له شأن.

        <br/><br/>
        كان في الماضي مهندساً ميكانيكياً بدوام كامل، والآن ماهيندرا كومار زوج بدوام كامل لزوجته الجميلة، تشاندريكا، وأب بدوام كامل لطفليه المحبوبين، أبيشيك وهاريني. يحمل قلب مغامر، يحب السفر بكل أرجاء العالم. 

        <br/><br/>
        الآن، وسط كوكبة شركاء الفي، هو فخور بأن يكون جزءاً من مهمة عالمية تعزز الناس من كل أطياف الحياة كي ينهضوا بأنفسهم! 


      </p>  
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>    
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dmq-ar" nav-direction="forward">د. معتز قيس<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


