<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-mk.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Mahendra Kumar</h1>
      </div>
      <p class="intro">
        Setelah sembilan tahun bekerja di perusahaan multinasional yang besar dan sukses di Bahrain, V Partner Mahendra Kumar tetap merasakan hidupnya tidak terpenuhi, dan ia melihat kesempatan untuk memulai bisnisnya sendiri. Kaidah normal akan ketakutan dan keraguan akan pergi dan memulai yang baru memenuhi tekadnya yang baru.
      </p>
      <p>
        Seperti sudah ditakdirkan, kesempatan di QNET dipresentasikan kepadanya di tahun 2000 oleh teman akrabnya di Dubai. Tidak memiliki pengetahuan apapun di networking, Mahendra mengambil langkah dalam keyakinannya.
        <br/><br/> 
        Besyukur, ia kemudian menjadi mengerti mekanik dari QNET dan The V saat V Founder Joseph Bismark mengadakan training di Bahrain di tahun yang sama. Tergerak oleh keyakinannya, Mahendra merasakan ia telah menemukan panggilannya, di bawah bendera the RYTHM (Raise Yourself to Help Mankind). Ia memutuskan untuk bekerja bahu-membahu dengan The V untuk membangun pasar baru dan memelihara yang telah ada di seluruh dunia.
        <br/><br/>
        Walaupun situasi telah nyaman di Timur Tengah, tujuan utamanya dari awal adalah untuk membangun rumah yang baik untuk keluarganya di Negara asalnya: India. Sejalan dengan ini, ia berkomitmen untuk membangun network yang kuat di sana. Baginya, pengalaman baling menantang selama ini adalah menghadapi berbagai kesalahpahaman dan tantangan yang melawan industri networking dari seluruh bagian di dunia. Sering kali menyakitkan, tapi baginya kesulitan ini tidak dapat dihindari dan akan cepat berlalu; dan dengan kerja keras, mereka akan menghasilkan hasil yang memuaskan!
        <br/><br/>
        Sekarang, momen untuk menyadari keberhasilan yang paling membanggakan adalah pada saat ia meninggalkan statur karyawan selama 13 tahun untuk menjadi Independent Representative penuh waktu untuk menyokong keluarganya, dan masih memiliki waktu untuk menjalani hidupnya sendiri.
        <br/><br/>
        Bagi Mahendra, ia meraih sukses dengan tetap memperhatikan targetnya, dan ia meraih kebebasan finansial dengan kemauan teguh dan semangat yang tidak kenal lelah – dan juga dengan kemauan yang kuat untuk berlajar dalam setiap kesempatan. Kualitas tersebut didapat melalui acara V; mereka membantunya tetap membara dan membuatnya tidak pernah padam!
        <br/><br/>
        V Partner terbaru ini memiliki moto: “Jika saya membantu orang lain menyeberang sungai, dalam prosesnya saya akan ikut menyeberangi sungai tersebut juga.” Baginya, semua orang terlahir sama; hanya keadaan dan inisiatif yang membuatnya berbeda. Karena itu, jika seseirang dapat  dan telahmelakukannya, ia percaya 100% jika ia juga bisa! Ia sepenuhnya bersyukur kepada V Founder untuk bisnis ini yang telah mengubahnya menjadi orang yang luar biasa.
        <br/><br/>
        Dulunya ia adalah Insinyur Mekanika penuh waktu, dan sekarang Mahendra Kumar adalah suami penuh waktu dari istri yang cantik dan anak mereka yang indah Abishek dan Harini. Petualang dalam hati, ia menyukai bepergian keliling dunia. 
        <br/><br/>
        Sekarang, diantara rangking V Partner, ia bangga menjadi bagian misi global yang memperkuat orang seluruhnya untuk bangkit dan hidup!
      </p> 

        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

         
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dmq-id" nav-direction="forward">Dr. Motaz Qais<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


