<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-mk.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Mahendra Kumar</h1>
      </div>
      <p class="intro">
        "Après neuf longues années de travail au sein d'une société multinationale de grande envergure à Bahreïn, le V Partner Mahendra Kumar est resté insatisfait dans sa vie, et il a donc cherché une occasion pour démarrer sa propre entreprise. Les conventions normales de la peur et du doute qui vont avec le nouveau départ ont assombri sa détermination."
      </p>
      <p>
        Mais comme le destin le voulait, l'opportunité QNET lui a été présentée en 2000 par un ami proche à Dubaï. Ayant peu ou pas de connaissance de réseautage, Mahendra a fait un acte de foi.
        <br/><br/> 
        Heureusement, il a fini par vite comprendre les mécanismes de QNET et The V quand le V Founder Joseph Bismark a dirigé une formation à Bahreïn cette même année. Ému par sa conviction, Mahendra a senti qu'il avait enfin trouvé sa vocation sous la bannière RYTHM (Raise Yourself to Help Mankind). Il a décidé de travailler main dans la main avec The V afin de construire de nouveaux marchés et de développer ceux qui existent partout dans le monde.
        <br/><br/>
        Confortablement situé au Moyen-Orient, son but ultime depuis le début était d’avoir une bonne maison pour sa famille dans leur pays natal : l'Inde. Dans cette optique, il s'est engagé à y établir un réseau solide. Pour lui, sa plus grande expérience de défi jusqu'ici était les divers malentendus et obstacles contre notre industrie de réseautage dans différentes parties du monde. C’est souvent décourageant, mais pour lui, ces difficultés sont inévitables et arriveront bientôt; et avec le travail acharné, ça pourrait même produire des résultats infiniment avantageux!
        <br/><br/>
        Maintenant, le moment  qu’il considère comme sa  plus grande fierté, c’est quand il avait finalement quitté son statut d'employé depuis 13 ans pour devenir un représentant indépendant à temps plein avec les moyens de soutenir sa famille, et il a encore le temps de vivre sa propre vie.
        <br/><br/>
        Pour Mahendra, il a gagné son succès en gardant simplement un œil sur sa cible, et il a obtenu sa liberté financière par sa volonté inébranlable et son esprit infatigable - et aussi sa volonté d'apprendre de chaque expérience unique. Ces qualités furent renforcées par les V events; ça lui a permis de préserver le feu sacré et l'a empêché de s'éteindre!
        <br/><br/>
        Notre nouveau V Partner vit de cette devise: "Si j'aide les autres à traverser la rivière, je traverserai la rivière aussi dans ce processus." Pour lui, tout le monde est né égal; Seules les circonstances et les initiatives nous distinguent. Par conséquent, si quelqu'un d'autre pouvait le faire et l'a fait, il a cru à 100% qu'il pouvait le faire aussi! Il est infiniment reconnaissant envers nos V Founders pour ce business qui l’a transformé de ‘personne’ en ‘quelqu'un’.
        <br/><br/>
        Autrefois, il était ingénieur mécanicien à temps plein, et maintenant, Mahendra Kumar est un mari à temps plein à sa belle épouse, Chandrika, et un père à temps plein à leurs beaux enfants Abishek et Harini. Aventurier de cœur, il aime voyager partout dans le monde.
        <br/><br/>
        Maintenant, dans les rangs des V Partners, il est fier de faire partie d'une mission mondiale qui permet aux gens de tous les horizons de se relever!
      </p>   
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dmq-fr" nav-direction="forward">Dr. Motaz Qais<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


