<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Pathman Senathirajah</h1>
      </div>
      <p class = "intro">They say that the world has its way of leading you to where you’re supposed to be, so when V Partner Pathman Senathirajah was presented the opportunity to work with QNET, he bid the corporate world goodbye, and establish his own team called Gengold with his brother V Partner Sathi Senathirajah. 
      </p>
      <p>
        They say that the world has its way of leading you to where you’re supposed to be, so when V Partner Pathman Senathirajah was presented the opportunity to work with QNET, he bid the corporate world goodbye, and establish his own team called Gengold with his brother V Partner Sathi Senathirajah. 
        <br/><br/>
        For an energetic and crazy Chief of The V, it’s hard to believe that V Partner Pathman Senathirajah used to work as a legal officer before working fulltime in network marketing. Many IRs around the world look up to him for his outstanding skills in empowering networkers worldwide. Through the years he invested in finding innovative ways in training networkers to succeed.
        <br/><br/>
        He believes that network marketing as a business is based on creating, cultivating, and nurturing relationships. He continues to fulfill his mission of bridging the gap between two seemingly opposing worlds: networking and the corporate environment.
        <br/> <br/>
        Being guided by the knowledge of our V Founder Dato’ Sri Vijay Eswaran and V Founder Joseph Bismark, Chief Pathman Senathirajah vows to be a limitless upline, brother, and guardian of every warrior’s dream.
        <br/><br/>
        His first book Even a Moron With a Dream… was launched at V-Malaysia 2009 and his second book, Network Marekting for Morons was launched in 2011. At V-Indonesia 2012, he released yet another fun, entertaining and educational read--- The Adventures of Pippo the Unbelievable: The Journey Begins!
        <br/><br/>
        For Chief Pathman Senathirajah its important to focus on who you are going to become as it’s not about changing what you do, but redefining who you are. 
        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
          <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;BACK TO TOP
        </div>
      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ag" nav-direction="forward">Arun George<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
