<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>باتمان سيناثيراجا</h1>
      </div>
      <p class = "intro">يقولون ان العالم لديه طريقته ليقودك إلي حيث يجب ان تكون، لذا عندما تم تقديم الفرصة لشريك الفي باتمان سيناثيراجا للعمل مع كيونت، فقد قال لعالم المؤسسات وداعاً، وانشاء فريقه الخاص الذي اسماه جنقولد مع اخاه شريك الفي ساتي سيناثيراجا.
      </p>
      <p>
        يقولون ان العالم لديه طريقته ليقودك إلي حيث يجب ان تكون، لذا عندما تم تقديم الفرصة لشريك الفي باتمان سيناثيراجا للعمل مع كيونت، فقد قال لعالم المؤسسات وداعاً، وانشاء فريقه الخاص الذي اسماه جنقولد مع اخاه شريك الفي ساتي سيناثيراجا.
        <br/><br/>
        بالنسبة للتشيف رئيس الفي الممتلئ بالطاقة والمجنون، إنه من الصعب تصديق ان شريك الفي باتمان سيناثيراجا قد عمل موظفاً في الشئون القانونية قبل ان يتفرغ للتسويق الشبكي. الكثير من الوكلاء المستقلين حول العالم يحترمونه لمهاراته المتميزة في تعزيز المسوقين الشبكين عبر العالم. خلال السنوات استثمر في إيجاد طرق مبتكرة لتدريب المسوقين الشبكيين لينجحوا.
        <br/><br/>
        هو يؤمن ان التسويق الشبكي كمجال عمل يعتمد على خلق، صقل، ورعاية العلاقات. وهو استمر في أداء مهمته في ردم الهوة بين عالمين يبدوان متضادين: التسويق الشبكي وبيئة المؤسسات.
        <br/> <br/>
        مسترشداً بمعرفة مؤسس الفي داتو سري فيجاي إشواران ومؤسس الفي جوزيف بسمارك، التشيف باتمان سيناثيراجا اقسم على ان يكون الأبلاين، الأخ، والحامي لأحلام كل محارب وبلا حدود.
        <br/><br/>
        كتابه الأول "حتى مغفل معه حلم..." "Even a Moron With a Dream…" قد أطلق في في-ماليزيا 2009 وكتابه الثاني، "التسويق الشبكي للمغفلين" "Network Marekting for Morons" أطلق في في-إندونيسيا 2012، وقد أطلق مقروءة ممتعة، مسلية، وتعليمية – "مغامرات بيبو العجيب: بدأت الرحلة!" "The Adventures of Pippo the Unbelievable: The Journey Begins!"
        <br/><br/>
        بالنسبة للتشيف باتمان سيناثيراجا من المهم الدفع تجاه من ستصبح أنت حيث ان الأمر لا يتعلق بتغير ما تفعله، لكن إعادة تعريف من أنت.
      </p>

       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ag-ar" nav-direction="forward">أرون جورج<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
