<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Pathman Senathirajah</h1>
      </div>
      <p class = "intro">Mereka mengatakan bahwa dunia ini memiliki caranya sendiri untuk membawa anda ke tempat dimana seharusnya anda berada, jadi ketika V Partner Pathman Senathirajah dipresentasikan kesempatan untuk bekerja dengan QNET, ia meninggalkan dunia kerjanya, dan membangun timnya sendiri yang bernama Gengold bersama dengan saudara laki-lakinya V Partner Sathi Senathirajah.
      </p>
      <p>
        Mereka mengatakan bahwa dunia ini memiliki caranya sendiri untuk membawa anda ke tempat dimana seharusnya anda berada, jadi ketika V Partner Pathman Senathirajah dipresentasikan kesempatan untuk bekerja dengan QNET, ia meninggalkan dunia kerjanya, dan membangun timnya sendiri yang bernama Gengold bersama dengan saudara laki-lakinya V Partner Sathi Senathirajah.
        <br/><br/>
        Bagi Chief The V yang aktif dan gila, susah dipercaya bila V Partner Pathman Senathirajah dulu bekerja sebagai legal officer sebelum bekerja penuh waktu di network marketing. Banyak IRs di seluruh dunia melihatnya karena kemampuan hebatnya dalam memberdayakan networker seluruh dunia. Bertahun-tahun ia berinvestasi dalam menemukan cara inofatif dalam melatih networker menuju kesuksesan.
        <br/><br/>
        Ia percaya bahwa network marketing adalah bisnis yang berdasarkan menciptakan, menanamkan, dan memelihara hubungan. Ia melanjutkan memenuhi misinya dengan menjembatani jarak antara dua dunia: networking dan lingkungan dunia pekerjaan.
        <br/> <br/>
        Diarahkan dengan pengetahuan dari V Founder Dato’ Sri Vijay Eswaran dan V Founder Joseph Bismark, Chief Pathman Senathirajah bersumpah untuk menjadi upline, saudara laki-laki, dan penjaga tak berbatas kepada setiap pejuang mimpi.
        <br/><br/>
        Buku pertamanya Even a Moron With a Dream…diluncurkan pada V-Malaysia 2009 dan buku keduanya, Network Marketing for Morons diluncurkan di tahun 2011. Dalam V-Indonesia 2012, ia mengerluarkan bacaan yang menyenangkan, menghibur dan mendidik---The Adventures of Pippo the Unbelievable: The Journey Begiins!
        <br/><br/>
        Bagi Chief Pathman Senathirajah sangat penting untuk fokus kepada akan menjadi apakah anda nanti karena ini bukanlah tentang merubah apa yang anda lakukan, tapi mendefinisikan ulang siapa diri anda.

      </p>

        <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      KEMBALI KE ATAS
    </div>

    
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-id" class="back" nav-direction="back">Pembicara<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ag-id" nav-direction="forward">Arun George<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
