<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ps.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Pathman Senathirajah</h1>
      </div>
      <p class = "intro">Ils disent que le monde a sa façon de vous conduire à l'endroit où vous êtes censé être, alors quand l’occasion de travailler avec QNET s’est présentée au V Partner Pathman Senathirajah, il a dit au revoir au monde de l'entreprise et a établi sa propre équipe appelée Gengold avec son frère le V Partner Sathi Senathirajah.
      </p>
      <p>
        Ils disent que le monde a sa façon de vous conduire à l'endroit où vous êtes censé être, alors quand l’occasion de travailler avec QNET s’est présentée au V Partner Pathman Senathirajah, il a dit au revoir au monde de l'entreprise et a établi sa propre équipe appelée Gengold avec son frère le V Partner Sathi Senathirajah.
        <br/><br/>
        Pour un chef énergique et fou de The V, il est difficile de croire que le V Partner Pathman Senathirajah travaillait en tant que juriste avant de travailler à temps plein dans le marketing de réseau. Beaucoup de IRs dans le monde l’admirent pour ses compétences exceptionnelles dans l’autonomisation des networkers dans le monde entier. Au cours des années, il a investi dans la recherche de moyens novateurs en formant des networkers à réussir.
        <br/><br/>
        Il croit que le marketing de réseau en tant qu’entreprise est basée sur la création, la culture et l’entretien des relations. Il continue à remplir sa mission en comblant le fossé entre deux mondes apparemment opposés: le réseautage et l'environnement d’entreprise.
        <br/> <br/>
        Guidé par la connaissance de nos V Founder Dato' Sri Vijay Eswaran et V Founder Joseph Bismark, le Chef Pathman Senathirajah promet d'être un parrain, frère et gardien sans limites du rêve de chaque guerrier.
        <br/><br/>
        Son premier livre, Even a Moron With a Dream ... a été lancé au V-Malaysia 2009 et son deuxième livre, Network Marketing for Morons a été lancé en 2011. Au V-Indonesia 2012, il a publié encore une autre lecture amusante, de divertissement et d’éducation --- The Adventures of Pippo the Unbelievable : The Journey Begins!
        <br/><br/>
        Pour le Chef Pathman Senathirajah, il est important de se concentrer sur qui vous allez devenir car il ne s'agit pas de changer ce que vous faites, mais de redéfinir qui vous êtes.

      </p>

          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>
    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ag-fr" nav-direction="forward">Arun George<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
