<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Ranjit Singh</h1>
      </div>
      <p class="intro">Un leader du marketing de réseau avec des décennies d'expérience précieuse à son actif, le V Partner Ranjit Singh s'accroche fermement à l'importance du temps et MAINTENANT à la prise en charge de sa vie et il s’assure très bien que son message soit clairement communiqué à travers ses formations.
      </p>
      <p>
        Le V Partner Ranjit est un consultant en réseau professionnel certifié par l'Université de l'Illinois et est également le fondateur du groupe Dream Achievers. Avant de rejoindre The V, il a dirigé avec succès des entreprises dans l'industrie du vêtement et de la mode en Australie - jusqu'à ce que le marketing de réseau lui fasse signe et depuis, il n'a plus regardé en arrière.
        <br/><br/> 
        Le V Partner Ranjit est fortement impliqué dans les V-Events tels que les V-Conventions dans le monde entier. Ses contributions au marché de The V et aux stratégies de développement des affaires ont contribué à faire croître l'entreprise au-delà des attentes. Grâce aux formations de motivation qu'il dirige pour The V, il emmène son auditoire à une toute nouvelle dimension – le fait d'avoir une raison d'être un leader à comprendre cette raison et finalement croire en la possibilité de faire de grandes choses se passe quand on puise dans son potentiel entrepreneurial interne. Le ‘Lion du Punjab’, comme il est souvent appelé par le V Managing Partner Dato' Sri Vijay, le VP Ranjit se classe parmi les orateurs de motivation préférés dans The V.
      </p>   
          <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>   
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-fr" class="back" nav-direction="back">Les orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ks-fr" nav-direction="forward">Kuna Senathirajah<i class="ion-ios-arrow-right"></i></a>    
  </ion-footer-bar>
</ion-view>


