<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-rs.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Ranjit Singh</h1>
      </div>
      <p class="intro">On yıllardır değerli deneyimlerini kemerinin altında toplayan bir network pazarlama lideri olan V Partneri Ranjit Singh zamanın önemine kararlı bir şekilde sarılmakta ve kişinin hayatındaki ŞİMDİ’nin önemini vurgulamaktadır ve mesajı eğitimleriyle açıkça iletilmektedir.
      </p>
      <p>
        V Partneri Ranjit, Illinois Üniversitesi tarafından onaylanmış Profesyonel Network Danışmanıdır ve aynı zamanda Dream Achievers grubunun kurucusudur. V'ye katılmadan önce, network pazarlaması ona seslenene kadar Avustralya'daki hazır giyim ve moda endüstrisinde başarılı bir şekilde koştu ve o zamandan beri de geriye hiç bakmadı.
        <br/><br/> 
        V Partneri Ranjit, dünya çapında V-Kongreleri gibi V-Etkinlikler'e yoğun bir şekilde dahil olmuştur. V'nin pazar ve iş geliştirme stratejilerine yaptığı katkılar, işletmeyi beklentilerin ötesinde büyütmesine yardımcı oldu. V için yürüttüğü motivasyon eğitimleri sayesinde izleyicisini yepyeni bir boyuta götürmüştür -  girişimci potansiyeli, bu sebepleri anlamak için bir lider olmaktan ve sonuçta kendi iç girişimciliğini yakaladığında büyük şeyler yapma ihtimaline inanmaktan geçmektedir. Sıklıkla V Managing Partner Dato 'Sri Vijay tarafından atıfta bulunulan ' Punjab Aslanı 'Ranjit, V'deki en sevilen motivasyonel konuşmacılar arasında yer almaktadır.
      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ks-tr" nav-direction="forward">Kuna Senathirajah<i class="ion-ios-arrow-right"></i></a>    
  </ion-footer-bar>
</ion-view>


