<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">
    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ss.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Sathi Senathirajah</h1>
      </div>
      <p class="intro">
        Genç ve heyecanlı VP Sathi'nin aşırı hevesli kardeşinden sonra QNet'e katılması an meselesiydi. GoldQuest'in ilk yıllarında onunla tanışmasını sağlayan kişi Şefimizden başkası değildi.
      </p>
      <p>
        QNet'ten önce, VP Sathi, Malezya'daki bir Elektronik Mühendisliği şirketinde büyük bir hayali olmayan ve maddi olarak özgür bir şekilde neredeyse sıfır şansı olan 9-5 umutsuz bir işte çalışıyordu. Qnet’in, sonunda kendi kendine bir şeyler yapmak için ihtiyaç duyduğu büyük kırılma olabileceğine karar verdi.
        <br/><br/> 
        VP Sathi, annesinin ve 2 kardeşinin VP Kuna ve V Yönetici Direktörü olan Pathman - sevecen bir ailenin orta çocuğudur; sessiz ama kendi yolları ile tanınır. Şimdiye kadar bir sevgi ve rahatlık yeri olan Senathirajah ailesi, vefat eden annesi Bayan Pathmavathi Kandiah’ın oğullarının başarısında her zaman büyük bir payı vardır.
        <br/><br/>
        Şimdiye kadar QNet'te karşılaştığı en zor anlar sorulduğunda, zor anların kesinlikle çok olduğunu ancak bazı zorlu engellerin kesinlikle devam ettiğini ve kriz durumlarının networkün zemininde olduğunu söylüyor.
        <br/><br/>
        Her ne kadar VP Sathi’nin şu ana kadar en gurur duyduğu an kesinlikle, 2009 yılında V Partner olarak anıldığı zamandır. "Ayrıca annemin gözlerindeki ışığı ve gülümsemesindeki sıcaklığı her gördüğümde. Bunlar her zaman en güzel anlardı - özellikle de kardeşlerimin ve benim oraya koyduğumuz şeyler "diye eklemiştir.
        <br/><br/>
        VP Sathi, 'Tutarlılığı' başarısının anahtarı olarak tanımlıyor. Demiştir ki:' Hedeflerinize ulaşana kadar yemeyin, uyumayın.'
        <br/><br/>
        Boş vakitlerinde VP Sathi, birkaç tur poker veya bilardo oynamak ya da sadece evde vakit geçirmek gibi basit zevklere sahiptir.
        <br/><br/>
        Annesine hayrandır, her şeyden önce en başından beri onun "amacı" olduğunu onaylar. VP Sathi, Nelson Mandela ve Sir Richard Branson'dan da ilham alıyor.
      </p>      
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-tr" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-ft-tr" nav-direction="forward">Ferdie Tolentino<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>


