
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Penang’da Neler Yapılır</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Bu adanın sunduğu şeyleri keşfetmek için biraz zamanınız olması durumunda, Penang'da yapılacaklar hakkında 5 aşamalı bir kılavuz var! Bu, Penang'ın en iyi Hawker yemeğini yeme ve en iyi miras noktaları ile doğal ortamı yaşamayı kapsamaktadır.</p>

       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-bazaar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">1. Chowrasta Çarşısı'nı ziyaret edin; taze ürünler, yerel lezzetler ve eğlenceli hatıra eşyaları.</div>
          </div>  
      </div>
       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-masjid.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">2. Georgetown'un en büyük tarihi camisi Mescid Kapitan Keling'e yürüyün.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-khoo.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">3. Toplantı salonu ve ofisleri olan bir idari bina, bir opera sahnesi yanı sıra 62 adet teras evi ve dükkan evinden oluşan tarihi Khoo Kngsi kompleksini keşfedin.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-komtar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">4. Georgetown'taki en uzun bina olan KOMTAR'ın 57. katında alışveriş yapın. Birçok gümrüksüz mağaza burada bulunmaktadır. Penang'ın panoramik görüntüsü için 65. katına kadar da gidebilirsiniz.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-jalannagore.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">5. Kendinizi Malay, Çin ve Hint yemekleri ile ödüllendireceğiniz Jalan Nagore'da yemek yiyin.</div>
          </div>  
      </div>
      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
        <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
        BAŞA DÖN
      </div>     

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-tr" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-tr" nav-direction="forward">Ürünler<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

