
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Que faire à Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Au cas où vous avez du temps à explorer davantage ce que cette île a à offrir, voici un guide en 5 étapes sur ce qu'il faut faire à Penang! Cela couvre le fait de manger la meilleure nourriture Hawker de Penang et de réfléchir sur ses meilleurs sites de patrimoine et d’environnement scénique.</p>

       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-bazaar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">1. Visitez le Chowrasta Bazaar pour les produits frais, les spécialités locales et les souvenirs amusants.</div>
          </div>  
      </div>
       <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-masjid.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">2. Marchez jusqu’à Masjid Kapitan Keling, qui est la plus grande mosquée historique de Georgetown</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-khoo.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">3. Explorez le complexe historique de Khoo Kngsi, qui comprend un bâtiment administratif avec une salle de réunion et des bureaux, une scène d'opéra, ainsi que 62 unités de maisons terrasses et boutiques.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-komtar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">4. Faites des achats au 57ème étage de KOMTAR, le plus haut bâtiment de Georgetown. Un tronçon de boutiques duty free se trouvent ici. Vous pouvez également aller jusqu’au bout de son 65ème étage pour une vue panoramique de Penang.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <div><img src="img/penang-jalannagore.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">5. Mangez à Jalan Nagore, où vous pouvez vous offrir une cuisine malaise, chinoise, et indienne.</div>
          </div>  
      </div>
     
    <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE PAGE
    </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-fr" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-fr" nav-direction="forward">marchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

