<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Where to stay in Penang</h1>
    </header>
    <article class="cusContent">

      <p class="headline">A trip around Penang can expose you to unique districts that express the Malaysia island state’s charm. Throughout your five-day stay in Penang for V-Malaysia 2017, you should consider the proximity of your hotel to SPICE Arena to make the most of your time. You also need to research about your hotel to avoid unnecessary travel expenses and hassles. Here are the top districts in Penang, where you can locate the best hotels:</p>

      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Georgetown</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Georgetown-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-georgetown.htm</span>
          </div>
          
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Batu Ferringhi</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Batu-Ferringhi-2.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-batu-ferringhi.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Gurney Drive</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Gurney-Drive-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-top-10s/10-attraction-gurney.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Tanjung Bungah</div>
            <div class="penang-desc"></div>
          </div>
          <div> 
            <img src="img/penang-Tanjung-Bungah-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/tanjung-bungah.htm</span>
          </div>
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <div class="penang-item">
            <div class="penang-text">Bayan Lepas</div>
            <div class="penang-desc"></div>
          </div>
          <div>
            <img src="img/penang-Bayan-Lepas-1.jpg" width="100%" height="auto" class="center ">
            <span class="source">http://www.penang.ws/penang-attractions/bayan-lepas.htm</span>
          </div>
      </div>
      

   <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>


    </article>



  </ion-content>


  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101" class="back" nav-direction="back">penang 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise" nav-direction="forward">merchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
