<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-ag.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner</h2>
        <h1>Arun George</h1>
      </div>
      <p class="intro">Sometimes you need to be shaken out of your comfort zone to realize that the grass is much greener and more fulfilling elsewhere. For V Partner Arun George, it took a QNET business presentation to entice him beyond the corporate world, where he was already prospering in Unilever at only 23 years old.
      </p>
      <p>
        By 2000, he went full-time into networking; by 2002, he formed Titans with other star-studded players in order to take the Middle East, African and Asian markets by storm. As a fledgling networker and now as a global mentor in The V Family, his biggest challenge remains the same: “helping people to identify their own potential and helping people accept the business.
        <br/><br/> 
        It compels him to work with people to help them accomplish their goals through network marketing, especially with their teams. Due to external misconceptions and conflicts, the industry with its opportunities is not always welcomed. However, the feeling is also sweetest when achieved: “Whenever we overcome these challenges and help people to build results, teams, realize their potential, and move forward — the biggest accomplishment [is] what we [can] achieve together as a TEAM across the globe.
        <br/><br/>
        He may have already risen to the ranks of the V Partners since V-Uganda 2008, but his work is far from over. Now, he strives more than ever to share his experience and rewards with more people. Most of all: “[I want] to help people realize that this is a professional business, not so much based on luck or anything. But if you follow a conventional formula like many other businesses, [it] is actually very predictable as long as you are consistent.
        <br/><br/>
        For Arun George, there are no magic tricks in the business. “Working hard — [that’s] what matters the most.” And if you followed his footsteps, your success will catch up with you.
      </p>      
    </article>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
  </ion-footer-bar>
</ion-view>


